In [1]:
import pandas as pd
import os
import numpy as np

%matplotlib inline

In [2]:
data = pd.read_csv("income_ST.csv")
data

,Unnamed: 0,United_States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South_Dakota,Tennessee,Texas,Utah,Vermont,Virgina,Washington,West_Virgina,Wisconsin,Wyoming
0,2021,70784.0,56929.0,81133.0,70821.0,50784.0,81575.0,84954.0,80958.0,68687.0,...,73893.0,62166.0,67404.0,87649.0,76079.0,80268.0,87648.0,46836.0,69943.0,71052.0
1,2020,68010.0,54689.0,74746.0,67088.0,50777.0,77652.0,83777.0,79432.0,70022.0,...,70189.0,54975.0,68404.0,83993.0,67257.0,82214.0,81358.0,51970.0,67405.0,65450.0
2,2019,68703.0,56200.0,78394.0,70674.0,54539.0,78105.0,72499.0,87291.0,74194.0,...,64255.0,56627.0,67444.0,84523.0,74305.0,81313.0,82454.0,53706.0,67355.0,65134.0
3,2018,63179.0,49936.0,68734.0,62283.0,49781.0,70489.0,73034.0,72812.0,65012.0,...,59463.0,56060.0,59785.0,77067.0,70066.0,77151.0,79726.0,50573.0,62629.0,62539.0
4,2017,61136.0,50865.0,77987.0,59700.0,49751.0,70038.0,74984.0,74304.0,64961.0,...,56914.0,55306.0,60092.0,69789.0,63682.0,70811.0,71540.0,46957.0,63482.0,59536.0
5,2016,59039.0,47221.0,75723.0,57100.0,45907.0,66637.0,70566.0,75923.0,58046.0,...,57450.0,51344.0,58146.0,67481.0,60837.0,66451.0,70310.0,44354.0,59817.0,57829.0
6,2015,56516.0,44509.0,75112.0,52248.0,42798.0,63636.0,66596.0,72889.0,57756.0,...,55065.0,47330.0,56473.0,66258.0,59494.0,61486.0,67243.0,42824.0,55425.0,60925.0
7,2014,53657.0,42278.0,67629.0,49254.0,44922.0,60487.0,60940.0,70161.0,57522.0,...,53053.0,43716.0,53875.0,63383.0,60708.0,66155.0,59068.0,39552.0,58080.0,55690.0
8,2013,51939.0,41381.0,61137.0,50602.0,39919.0,57528.0,63371.0,67781.0,52219.0,...,54453.0,42499.0,53027.0,62967.0,54842.0,67620.0,60106.0,40241.0,55258.0,55700.0
9,2012,51017.0,43464.0,63648.0,47044.0,39018.0,57020.0,57255.0,64247.0,48972.0,...,49415.0,42995.0,51926.0,58341.0,55582.0,64632.0,62187.0,43553.0,53079.0,57512.0
10,2011,50054.0,42590.0,57431.0,48621.0,41302.0,53367.0,58629.0,65415.0,54660.0,...,47223.0,42279.0,49047.0,55493.0,51862.0,62616.0,56850.0,41821.0,52058.0,54509.0
11,2010,49276.0,40933.0,57848.0,46896.0,38587.0,54283.0,60233.0,65998.0,55214.0,...,45352.0,38591.0,47266.0,56701.0,55928.0,60367.0,56163.0,42777.0,50351.0,52201.0
12,2009,49777.0,39980.0,61604.0,45739.0,36538.0,56134.0,55930.0,64851.0,52114.0,...,45826.0,40517.0,47475.0,58491.0,52318.0,60501.0,60392.0,40490.0,51237.0,52470.0
13,2008,50303.0,44476.0,63989.0,46914.0,39586.0,57014.0,60943.0,64682.0,50702.0,...,51600.0,39702.0,46490.0,62537.0,50706.0,61985.0,56631.0,37994.0,51200.0,53337.0
14,2007,50233.0,42212.0,62993.0,47215.0,40795.0,55734.0,61141.0,64141.0,54589.0,...,46418.0,41195.0,46053.0,53529.0,47390.0,59161.0,58080.0,42091.0,51277.0,48744.0
15,2006,48201.0,37952.0,56418.0,46657.0,37057.0,55319.0,55697.0,62404.0,52438.0,...,45427.0,40693.0,43307.0,54628.0,51981.0,57119.0,54723.0,38419.0,51692.0,47041.0
16,2005,46326.0,37150.0,55891.0,45245.0,36658.0,51755.0,50449.0,56835.0,51235.0,...,43151.0,39406.0,41422.0,54813.0,50704.0,51914.0,50646.0,36445.0,44650.0,44718.0
17,2004,44334.0,36629.0,55063.0,43846.0,34984.0,49222.0,50886.0,55100.0,48049.0,...,41107.0,38072.0,41397.0,50871.0,47329.0,51141.0,49922.0,33373.0,45732.0,45397.0
18,2003,43318.0,37255.0,51837.0,41166.0,32002.0,49300.0,49940.0,54965.0,49019.0,...,39522.0,37523.0,39271.0,49275.0,43261.0,54783.0,47508.0,32763.0,46269.0,42555.0
19,2002,42409.0,37603.0,52774.0,39734.0,32387.0,47437.0,48294.0,53387.0,49650.0,...,37873.0,37030.0,40149.0,47861.0,42999.0,49631.0,45183.0,29359.0,45903.0,39763.0
20,2001,42228.0,35160.0,57363.0,42704.0,33339.0,47262.0,49397.0,53347.0,49602.0,...,39671.0,35783.0,40860.0,47342.0,40794.0,50241.0,42490.0,29673.0,45346.0,39719.0
21,2000,41990.0,35424.0,52847.0,39783.0,29697.0,46816.0,48240.0,50172.0,50365.0,...,36475.0,34096.0,38609.0,47550.0,39594.0,47163.0,42525.0,29411.0,45088.0,39629.0
22,1999,40696.0,36251.0,51396.0,36995.0,29682.0,43629.0,48177.0,50593.0,46628.0,...,35828.0,36522.0,38688.0,46050.0,41584.0,45693.0,45473.0,29297.0,45667.0,37248.0
23,1998,38885.0,36266.0,50692.0,37090.0,27665.0,40934.0,46599.0,46508.0,41458.0,...,32786.0,34091.0,35783.0,44299.0,39372.0,43354.0,47421.0,26704.0,41327.0,35250.0
24,1997,37005.0,31939.0,47994.0,32740.0,26162.0,39694.0,43233.0,43985.0,43033.0,...,29694.0,30636.0,35075.0,42775.0,35053.0,42957.0,44562.0,27488.0,39595.0,33423.0
25,1996,35492.0,30302.0,52779.0,31637.0,27123.0,38812.0,40950.0,42119.0,39309.0,...,29526.0,30790.0,33072.0,37038.0,32358.0,39211.0,36676.0,25247.0,40001.0,30953.0
26,1995,34076.0,25991.0,47954.0,30863.0,25814.0,37009.0,40706.0,40243.0,34928.0,...,29578.0,29015.0,32039.0,36480.0,33824.0,36222.0,35568.0,24880.0,40955.0,31529.0
27,1994,32264.0,27196.0,45367.0,31293.0,25565.0,35331.0,37833.0,41097.0,35873.0,...,29733.0,28639.0,30755.0,35716.0,35802.0,37647.0,33533.0,23564.0,35388.0,33140.0
28,1993,31241.0,25082.0,42931.0,30510.0,23039.0,34073.0,34488.0,39516.0,36064.0,...,27737.0,25102.0,28727.0,35786.0,31065.0,36433.0,35655.0,22421.0,31766.0,29442.0
29,1992,30636.0,25808.0,41802.0,29358.0,23882.0,34903.0,32484.0,40841.0,35678.0,...,26259.0,24318.0,27953.0,34251.0,32755.0,38198.0,33900.0,20271.0,33308.0,30209.0
30,1991,30126.0,24346.0,40612.0,30737.0,23435.0,33664.0,31499.0,42154.0,32585.0,...,24639.0,24453.0,27733.0,28016.0,29155.0,36137.0,33970.0,23147.0,31133.0,29050.0
31,1990,29943.0,23357.0,39298.0,29224.0,22786.0,33290.0,30733.0,38870.0,30804.0,...,24571.0,22592.0,28228.0,30142.0,31098.0,35073.0,32112.0,22137.0,30711.0,29460.0
32,1989,28906.0,21284.0,36006.0,28552.0,21433.0,33009.0,26806.0,42321.0,32068.0,...,24108.0,22611.0,25886.0,30717.0,31295.0,34118.0,31961.0,21677.0,29123.0,29521.0
33,1988,27225.0,19948.0,33103.0,26435.0,20172.0,30287.0,26214.0,36213.0,30505.0,...,22294.0,20856.0,24963.0,26313.0,28988.0,32648.0,32327.0,19353.0,29575.0,26419.0
34,1987,26061.0,19734.0,33233.0,26749.0,18827.0,30146.0,26476.0,32862.0,29244.0,...,21151.0,21179.0,24721.0,26529.0,25415.0,29996.0,27319.0,17207.0,26369.0,27590.0

In [3]:
df = pd.DataFrame(data)

In [4]:
df2 = df.rename(columns={"Unnamed: 0":"year", "United_States":"avgerage"})

In [5]:
new_df = pd.melt(df2, id_vars=['year'], value_vars=['avgerage', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District_of_Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New_Hampsire', 'New_Jersey', 'New_Mexico', 'New_York', 'North_Carolina', 'North_Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode_Island', 'South_Carolina', 'South_Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgina', 'Washington', 'West_Virgina', 'Wisconsin', 'Wyoming'])

In [6]:
new_df

      year  variable    value
0     2021  avgerage  70784.0
1     2020  avgerage  68010.0
2     2019  avgerage  68703.0
3     2018  avgerage  63179.0
4     2017  avgerage  61136.0
...    ...       ...      ...
1815  1991   Wyoming  29050.0
1816  1990   Wyoming  29460.0
1817  1989   Wyoming  29521.0
1818  1988   Wyoming  26419.0
1819  1987   Wyoming  27590.0

[1820 rows x 3 columns]

In [7]:
t_df = new_df.rename(columns={"variable":"state", "value":"income"})

In [8]:
t_df.head()

   year     state   income
0  2021  avgerage  70784.0
1  2020  avgerage  68010.0
2  2019  avgerage  68703.0
3  2018  avgerage  63179.0
4  2017  avgerage  61136.0

In [10]:
t_df.dtypes

year        int64
state      object
income    float64
dtype: object

In [11]:
t_df.to_csv('income_st_reshape.csv', index=False)