In [92]:
import os
import pandas as pd
import glob
from datetime import datetime

In [93]:
data_file_folder = 'Years'

In [94]:
df = []
for file in os.listdir(data_file_folder):
    if file.endswith('.xlsx'):
        print('Loading file {0}...'.format(file))
        df.append(pd.read_excel(os.path.join(data_file_folder, file), sheet_name='Sheet1'))

Loading file 2001.xlsx...
Loading file 2017.xlsx...
Loading file 2016.xlsx...
Loading file 2000.xlsx...
Loading file 2020.xlsx...
Loading file 1996.xlsx...
Loading file 2007.xlsx...
Loading file 2011.xlsx...
Loading file 2010.xlsx...
Loading file 2006.xlsx...
Loading file 1997.xlsx...
Loading file 2013.xlsx...
Loading file 2005.xlsx...
Loading file 1994.xlsx...
Loading file 2009.xlsx...
Loading file 1998.xlsx...
Loading file 1999.xlsx...
Loading file 2008.xlsx...
Loading file 1995.xlsx...
Loading file 2004.xlsx...
Loading file 2012.xlsx...
Loading file 2019.xlsx...
Loading file 2015.xlsx...
Loading file 2003.xlsx...
Loading file 2002.xlsx...
Loading file 2014.xlsx...
Loading file 2018.xlsx...

In [95]:
df1 = pd.concat(df, axis=0)
df1

,Unnamed: 0,Year,State,Total Public Tuition,Public In-State Tuition,Total Private Tuition,Private Tuition,Total Public Tuition In-State,Out-of-State Tuition
0,8,2001,United States ..................,9196,3735.000,22896,16211,NaN,NaN
1,10,2001,Alabama ...........................,7647,3242.000,15137,10135,NaN,NaN
2,11,2001,Alaska ............................,9260,3062.000,16179,10161,NaN,NaN
3,12,2001,Arizona ............................,8233,2488.000,15913,10716,NaN,NaN
4,13,2001,Arkansas ...........................,7287,3371.000,14347,9888,NaN,NaN
5,14,2001,California .........................,10289,2719.000,26193,18394,NaN,NaN
6,16,2001,Colorado ...........................,8815,3166.000,25038,16917,NaN,NaN
7,17,2001,Connecticut .........................,11066,4780.000,29008,21016,NaN,NaN
8,18,2001,Delaware ............................,10889,5063.000,14886,8980,NaN,NaN
9,19,2001,District of Columbia ................,†,2070.000,26977,18751,NaN,NaN
10,20,2001,Florida ............................,8364,2555.000,20287,13988,NaN,NaN
11,22,2001,Georgia .............................,7945,2836.000,21018,14451,NaN,NaN
12,23,2001,Hawaii ...............................,7987,3051.000,16755,8985,NaN,NaN
13,24,2001,Idaho ..............................,7162,2859.000,10116,5278,NaN,NaN
14,25,2001,Illinois ...........................,10206,4572.000,22781,16105,NaN,NaN
15,26,2001,Indiana..............................,9781,3999.000,22419,16854,NaN,NaN
16,28,2001,Iowa ...............................,8251,3470.000,20289,15332,NaN,NaN
17,29,2001,Kansas ..............................,6986,2701.000,16570,11911,NaN,NaN
18,30,2001,Kentucky ...........................,7365,3184.000,15743,11037,NaN,NaN
19,31,2001,Louisiana ..........................,6711,2877.000,23266,16737,NaN,NaN
20,32,2001,Maine ...............................,10292,4821.000,24152,17621,NaN,NaN
21,34,2001,Maryland ...........................,11372,4966.000,26936,19606,NaN,NaN
22,35,2001,Massachusetts ......................,9361,3991.000,29939,21492,NaN,NaN
23,36,2001,Michigan ..........................,10551,5042.000,16843,11600,NaN,NaN
24,37,2001,Minnesota ...........................,9065,4483.000,22349,16918,NaN,NaN
25,38,2001,Mississippi ........................,7613,3417.000,14342,10106,NaN,NaN
26,40,2001,Missouri..........................,8673,4112.000,18745,13201,NaN,NaN
27,41,2001,Montana ...........................,8310,3468.000,16033,10107,NaN,NaN
28,42,2001,Nebraska ..........................,7739,3224.000,18805,14060,NaN,NaN
29,43,2001,Nevada .............................,8575,2450.000,19482,13273,NaN,NaN
30,44,2001,New Hampshire .....................,12343,6725.000,25955,18707,NaN,NaN
31,46,2001,New Jersey ........................,12853,6076.000,25111,17333,NaN,NaN
32,47,2001,New Mexico ........................,7587,2846.000,20417,14393,NaN,NaN
33,48,2001,New York ..........................,10739,4119.000,26419,18275,NaN,NaN
34,49,2001,North Carolina ...................,7655,2640.000,21054,15143,NaN,NaN
35,50,2001,North Dakota ......................,6844,3128.000,11853,8379,NaN,NaN
36,52,2001,Ohio ..............................,11170,5138.000,22022,16161,NaN,NaN
37,53,2001,Oklahoma ..........................,6295,2373.000,16311,11218,NaN,NaN
38,54,2001,Oregon ............................,10065,3864.000,24454,18312,NaN,NaN
39,55,2001,Pennsylvania .....................,11867,6316.000,26168,18917,NaN,NaN
40,56,2001,Rhode Island .....................,11575,4689.000,27172,19142,NaN,NaN
41,58,2001,South Carolina ....................,10038,5448.000,18009,13041,NaN,NaN
42,59,2001,South Dakota .....................,7544,3787.000,16306,12023,NaN,NaN
43,60,2001,Tennessee ........................,7780,3339.000,19161,13692,NaN,NaN
44,61,2001,Texas ............................,8057,2967.000,18160,12673,NaN,NaN
45,62,2001,Utah ..............................,7411,2389.000,8947,3969,NaN,NaN
46,64,2001,Vermont ...........................,13426,7449.000,23208,16454,NaN,NaN
47,65,2001,Virginia ..........................,8989,3770.000,20096,14429,NaN,NaN
48,66,2001,Washington ........................,9994,3790.000,22690,16706,NaN,NaN
49,67,2001,West Virginia......................,7628,2646.000,18066,12854,NaN,NaN
50,68,2001,Wisconsin .........................,7788,3693.000,21234,15829,NaN,NaN
51,69,2001,Wyoming ...........................,7421,2807.000,†,†,NaN,NaN
0,5,2017,United States ..................,NaN,9037.049,43139.295,30731.212,20049.845,25657.308
1,6,2017,Alabama ...........................,NaN,9826.626,26163.946,16320.713,19672.537,24939.325
2,7,2017,Alaska ............................,NaN,7221.032,26886.925,19360.055,18372.619,21283.982
3,8,2017,Arizona ............................,NaN,10557.034,22938.734,13487.405,22629.391,26067.427
4,9,2017,Arkansas ...........................,NaN,8186.904,30827.681,22609.893,17479.211,20060.615
5,10,2017,California .........................,NaN,8019.907,47410.054,33483.411,22081.301,29172.831
6,12,2017,Colorado ...........................,NaN,9539.832,35152.225,22872.593,21513.729,29846.092
7,13,2017,Connecticut .........................,NaN,12355.172,54819.373,40410.486,25182.296,33741.029
8,14,2017,Delaware ............................,NaN,9998.868,26927.581,15096.133,22370.672,29355.581
9,15,2017,District of Columbia ................,NaN,5756.000,57610.517,41775.223,†,12092.000
10,16,2017,Florida ............................,NaN,4455.479,37335.863,25531.469,14896.274,18241.063
11,18,2017,Georgia .............................,NaN,7206.420,40413.53,27813.467,17705.262,21957.241
12,19,2017,Hawaii ...............................,NaN,9709.102,28857.845,16447.085,21200.718,31019.495
13,20,2017,Idaho ..............................,NaN,7247.168,13488.112,5833.099,15454.691,22601.024
14,21,2017,Illinois ...........................,NaN,13970.568,45045.503,32491.354,25088.968,28617.761
15,22,2017,Indiana .............................,NaN,9038.218,43763.797,32338.452,19296.967,28804.778
16,24,2017,Iowa ...............................,NaN,8766.345,37380.157,27990.818,18426.29,26213.548
17,25,2017,Kansas ..............................,NaN,8736.582,30239.532,21316.023,17963.456,22614.535
18,26,2017,Kentucky ...........................,NaN,10365.092,35948.377,26719.394,20744.685,24632.451
19,27,2017,Louisiana ..........................,NaN,9164.635,49452.087,36715.343,18835.494,21631.871
20,28,2017,Maine ...............................,NaN,9664.274,49994.252,37043.316,19499.857,26939.480
21,30,2017,Maryland ...........................,NaN,9289.407,55685.127,41858.895,21177.37,24352.940
22,31,2017,Massachusetts ......................,NaN,12778.473,59558.947,44384.256,25229.365,29774.061
23,32,2017,Michigan ..........................,NaN,12434.584,36664.314,26964.257,22664.874,37599.841
24,33,2017,Minnesota ...........................,NaN,11225.877,42715.902,32415.888,20419.721,20736.247
25,34,2017,Mississippi ........................,NaN,7979.736,25773.911,17624.781,17718.402,19690.827
26,36,2017,Missouri .........................,NaN,8386.832,34622.858,24614.729,18106.068,19519.115
27,37,2017,Montana ...........................,NaN,6782.557,33739,24953.328,15800.475,23678.430
28,38,2017,Nebraska ..........................,NaN,8188.293,34598.313,23659.302,18448.79,20554.771
29,39,2017,Nevada .............................,NaN,5920.499,36162.844,23261.145,16810.274,21175.847
30,40,2017,New Hampshire .....................,NaN,15948.794,47030.429,33321.787,27569.748,28129.793
31,42,2017,New Jersey ........................,NaN,13633.360,50321.163,36589.069,26541.709,28649.209
32,43,2017,New Mexico ........................,NaN,6717.642,33620.13,23865.245,15802.892,17532.760
33,44,2017,New York ..........................,NaN,7938.103,53659.49,39006.547,22343.39,21661.765
34,45,2017,North Carolina ...................,NaN,7354.183,44050.059,32140.198,17342.85,24274.275
35,46,2017,North Dakota ......................,NaN,7687.283,22511.142,15256.062,15997.91,19020.702
36,48,2017,Ohio ..............................,NaN,10025.679,42254.152,31241.865,21674.171,24098.104
37,49,2017,Oklahoma ..........................,NaN,7622.557,35542.301,26240.35,16263.442,20200.127
38,50,2017,Oregon ............................,NaN,10362.925,50617.451,38674.258,22709.795,30486.548
39,51,2017,Pennsylvania .....................,NaN,14534.294,53239.241,40068.373,25795.143,27129.472
40,52,2017,Rhode Island .....................,NaN,12238.800,54876.793,40360.711,24279.521,29012.976
41,54,2017,South Carolina ....................,NaN,12579.044,34421.421,24931.485,22131.916,30918.906
42,55,2017,South Dakota .....................,NaN,8539.815,32156.845,24218.77,16420.825,12060.074
43,56,2017,Tennessee ........................,NaN,9574.426,37162.05,26938.99,18950.707,25378.340
44,57,2017,Texas ............................,NaN,8645.247,43865.995,32481.747,18271.394,24936.915
45,58,2017,Utah ..............................,NaN,6556.917,15389.01,7548.421,14174.17,20167.626
46,60,2017,Vermont ...........................,NaN,16103.349,56172.143,42636.611,27781.881,38967.841
47,61,2017,Virginia ..........................,NaN,12637.120,33658.309,23014.487,23426.934,33427.640
48,62,2017,Washington ........................,NaN,6830.454,48518.085,36806.901,18322.527,28263.194
49,63,2017,West Virginia .....................,NaN,7619.235,21299.934,12340.953,17803.035,21031.784
50,64,2017,Wisconsin .........................,NaN,8475.015,43331.967,33156.1,16543.924,23499.662
51,65,2017,Wyoming ...........................,NaN,4443.000,†,†,14485.524,13731.000
0,5,2016,United States ..................,NaN,8804.074,41467.869,29478.041,19487.672,24854.390
1,6,2016,Alabama ...........................,NaN,9466.105,24709.536,15421.537,19052.005,23999.508
2,7,2016,Alaska ............................,NaN,7210.342,26131.55,18876.363,17370.129,21431.489
3,8,2016,Arizona ............................,NaN,10056.575,22558.535,13139.738,21490.559,25061.481
4,9,2016,Arkansas ...........................,NaN,7924.042,29803.687,21709.817,16871.207,19322.961
5,10,2016,California .........................,NaN,7896.422,44721.64,31495.075,21355.599,28253.183
6,12,2016,Colorado ...........................,NaN,9351.817,34337.203,22626.722,20942.738,28986.059
7,13,2016,Connecticut .........................,NaN,11725.532,53197.661,38975.012,24173.612,32835.689
8,14,2016,Delaware ............................,NaN,9577.742,25996.089,14383.363,21698.361,28497.097
9,15,2016,District of Columbia ................,NaN,5612.000,55669.204,40617.775,†,11756.000
10,16,2016,Florida ............................,NaN,4434.706,35875.926,24360.449,14805.807,18303.643
11,18,2016,Georgia .............................,NaN,7009.689,39117.666,27220.364,17352.569,21376.965
12,19,2016,Hawaii ...............................,NaN,9712.465,28392.907,15949.444,21015.982,30928.795
13,20,2016,Idaho ..............................,NaN,7005.235,13009.634,5925.004,14457.186,21370.325
14,21,2016,Illinois ...........................,NaN,13636.006,43381.76,31298.189,24541.392,28166.727
15,22,2016,Indiana .............................,NaN,8876.382,41847.422,30925.909,19000.613,28314.757
16,24,2016,Iowa ...............................,NaN,8361.350,35780.462,26741.888,17604.073,24911.738
17,25,2016,Kansas ..............................,NaN,8488.796,28745.763,20290.957,17560.468,21999.961
18,26,2016,Kentucky ...........................,NaN,10014.159,34893.454,25844.529,19673.15,23538.923
19,27,2016,Louisiana ..........................,NaN,8813.440,47558.506,35189.502,18319.417,22770.656
20,28,2016,Maine ...............................,NaN,9219.065,48107.236,35546.83,19072.961,26003.709
21,30,2016,Maryland ...........................,NaN,9082.945,53774.882,40209.201,20647.225,22436.910
22,31,2016,Massachusetts ......................,NaN,12330.958,57362.757,42654.948,24473.225,28739.952
23,32,2016,Michigan ..........................,NaN,11889.638,33498.1,24058.287,21831.591,36713.682
24,33,2016,Minnesota ...........................,NaN,10883.163,40938.845,30924.666,19726.712,19087.569
25,34,2016,Mississippi ........................,NaN,7471.509,24697.686,16948.964,16843.245,19137.870
26,36,2016,Missouri .........................,NaN,8176.400,33433.186,23701.69,17639.098,18940.341
27,37,2016,Montana ...........................,NaN,6502.937,32375.368,23657.273,15241.219,22956.126
28,38,2016,Nebraska ..........................,NaN,7732.093,32199.896,23109.069,17379.019,19482.904
29,39,2016,Nevada .............................,NaN,5520.288,35053.31,21423.136,17145.258,20671.516
30,40,2016,New Hampshire .....................,NaN,15491.460,46532.952,33234.525,26968.075,27200.529
31,42,2016,New Jersey ........................,NaN,13296.686,48438.586,35223.836,26070.044,28051.217
32,43,2016,New Mexico ........................,NaN,6824.643,32372.745,22535.096,15528.242,17271.571
33,44,2016,New York ..........................,NaN,7708.829,51790.45,37580.361,21750.33,21453.636
34,45,2016,North Carolina ...................,NaN,7218.492,42312.201,30701.204,16635.023,23777.653
35,46,2016,North Dakota ......................,NaN,7376.285,20963.653,14289.563,15387.768,18288.050
36,48,2016,Ohio ..............................,NaN,9827.303,40980.263,30295.748,20960.782,23433.915
37,49,2016,Oklahoma ..........................,NaN,7218.774,33883.384,24775.853,15754.498,19174.447
38,50,2016,Oregon ............................,NaN,9738.905,48702.672,37088.213,21323.633,29329.911
39,51,2016,Pennsylvania .....................,NaN,14067.739,52131.781,39185.117,25331.495,26327.727
40,52,2016,Rhode Island .....................,NaN,11385.883,52873.593,38855.344,23134.991,27815.116
41,54,2016,South Carolina ....................,NaN,12152.893,33747.701,24523.095,21508.294,29888.293
42,55,2016,South Dakota .....................,NaN,8301.319,30925.668,23147.121,16054.4,11845.225
43,56,2016,Tennessee ........................,NaN,9286.937,35928.503,25984.598,18340.305,24802.079
44,57,2016,Texas ............................,NaN,8375.349,41978.523,31008.702,17799.057,23511.118
45,58,2016,Utah ..............................,NaN,6333.570,15211.745,7445.358,13709.235,19407.243
46,60,2016,Vermont ...........................,NaN,15537.442,54002.771,41063.123,26786.332,37991.117
47,61,2016,Virginia ..........................,NaN,12125.664,32616.215,22285.922,22567.261,32249.684
48,62,2016,Washington ........................,NaN,6903.181,46746.186,35288.114,18053.275,28127.968
49,63,2016,West Virginia .....................,NaN,7241.115,20897.733,12206.107,17095.629,20029.517
50,64,2016,Wisconsin .........................,NaN,8418.543,41503.241,31662.147,16245.843,22574.336
51,65,2016,Wyoming ...........................,NaN,4311.000,†,18021.0,14353.523,13239.000
0,8,2000,United States ..................,8653,3501.000,21856,15470,NaN,NaN
1,10,2000,Alabama ...........................,7349,2987.000,14136,9334,NaN,NaN
2,11,2000,Alaska ............................,8390,2941.000,14656,9381,NaN,NaN
3,12,2000,Arizona ............................,7874,2346.000,15109,9322,NaN,NaN
4,13,2000,Arkansas ...........................,6797,3011.000,13377,9109,NaN,NaN
5,14,2000,California .........................,9590,2566.000,24679,17219,NaN,NaN
6,16,2000,Colorado ...........................,8362,2980.000,23129,15445,NaN,NaN
7,17,2000,Connecticut .........................,10521,4553.000,27737,20056,NaN,NaN
8,18,2000,Delaware ............................,10283,4789.000,13936,8415,NaN,NaN
9,19,2000,District of Columbia ................,†,2070.000,26933,19186,NaN,NaN
10,20,2000,Florida ............................,7947,2366.000,19870,13805,NaN,NaN
11,22,2000,Georgia .............................,7463,2699.000,19951,13770,NaN,NaN
12,23,2000,Hawaii ...............................,8272,2968.000,16078,8000,NaN,NaN
13,24,2000,Idaho ..............................,6765,2628.000,17793,13664,NaN,NaN
14,25,2000,Illinois ...........................,9532,4178.000,21784,15317,NaN,NaN
15,26,2000,Indiana..............................,9239,3786.000,21378,16078,NaN,NaN
16,28,2000,Iowa ...............................,7587,3157.000,19414,14630,NaN,NaN
17,29,2000,Kansas ..............................,6654,2642.000,15670,11206,NaN,NaN
18,30,2000,Kentucky ...........................,6923,2898.000,14644,10176,NaN,NaN
19,31,2000,Louisiana ..........................,6329,2783.000,21937,15591,NaN,NaN
20,32,2000,Maine ...............................,9371,4267.000,22690,16450,NaN,NaN
21,34,2000,Maryland ...........................,10834,4772.000,25670,18621,NaN,NaN
22,35,2000,Massachusetts ......................,9207,4003.000,28666,20566,NaN,NaN
23,36,2000,Michigan ..........................,9825,4615.000,16011,11155,NaN,NaN
24,37,2000,Minnesota ...........................,8127,4009.000,21332,16243,NaN,NaN
25,38,2000,Mississippi ........................,7195,2969.000,13767,9659,NaN,NaN
26,40,2000,Missouri..........................,8203,3879.000,17886,12600,NaN,NaN
27,41,2000,Montana ...........................,7615,3079.000,14454,9631,NaN,NaN
28,42,2000,Nebraska ..........................,7355,3101.000,16093,11619,NaN,NaN
29,43,2000,Nevada .............................,8247,2344.000,17835,11465,NaN,NaN
30,44,2000,New Hampshire .....................,11720,6458.000,25184,18261,NaN,NaN
31,46,2000,New Jersey ........................,12007,5609.000,23738,16680,NaN,NaN
32,47,2000,New Mexico ........................,7086,2627.000,19011,14062,NaN,NaN
33,48,2000,New York ..........................,10260,4063.000,25178,17433,NaN,NaN
34,49,2000,North Carolina ...................,7076,2298.000,20185,14274,NaN,NaN
35,50,2000,North Dakota ......................,6418,2942.000,11399,8026,NaN,NaN
36,52,2000,Ohio ..............................,10451,4742.000,20983,15419,NaN,NaN
37,53,2000,Oklahoma ..........................,6022,2259.000,15307,10587,NaN,NaN
38,54,2000,Oregon ............................,9394,3646.000,23123,17533,NaN,NaN
39,55,2000,Pennsylvania .....................,11091,5917.000,24737,17821,NaN,NaN
40,56,2000,Rhode Island .....................,11095,4506.000,26073,18320,NaN,NaN
41,58,2000,South Carolina ....................,9096,4701.000,17518,12713,NaN,NaN
42,59,2000,South Dakota .....................,6975,3484.000,15335,11194,NaN,NaN
43,60,2000,Tennessee ........................,7658,2950.000,18128,12922,NaN,NaN
44,61,2000,Texas ............................,7614,2785.000,16890,11865,NaN,NaN
45,62,2000,Utah ..............................,6598,2226.000,8600,3754,NaN,NaN
46,64,2000,Vermont ...........................,12847,7142.000,22454,15740,NaN,NaN
47,65,2000,Virginia ..........................,8751,3723.000,18499,13118,NaN,NaN
48,66,2000,Washington ........................,8909,3600.000,21505,15874,NaN,NaN
49,67,2000,West Virginia......................,7290,2551.000,18285,12999,NaN,NaN
50,68,2000,Wisconsin .........................,7396,3417.000,20317,15032,NaN,NaN
51,69,2000,Wyoming ...........................,7017,2575.000,†,†,NaN,NaN
0,5,2020,United States,NaN,9374.520,46312.51,32825.3,21337.37,27090.840
1,6,2020,Alabama,NaN,10616.860,27966.09,17353.56,20992.79,27004.540
2,7,2020,Alaska,NaN,8849.200,28361.63,19574.68,22185.45,25535.400
3,8,2020,Arizona,NaN,11409.740,22862.16,13108.34,24681.26,25426.110
4,9,2020,Arkansas,NaN,8467.880,33613.93,24997.8,18261.7,21597.510
5,10,2020,California,NaN,8401.240,53679.66,38476.64,24015.11,34398.460
6,11,2020,Colorado,NaN,9268.920,36877.76,23128.17,22288.2,30930.280
7,12,2020,Connecticut,NaN,14486.780,58706.91,43012.65,28425.09,36880.760
8,13,2020,Delaware,NaN,11343.310,25743.09,14501,24861.71,31809.270
9,14,2020,District of Columbia,NaN,6152.000,61912.13,44692.27,†,13004.000
10,15,2020,Florida,NaN,4540.550,41843,28860.39,15543.07,18322.270
11,16,2020,Georgia,NaN,7525.440,43626.49,30379.8,18711.06,23430.030
12,17,2020,Hawaii,NaN,10197.230,32947.66,19095.63,22012.15,32043.030
13,18,2020,Idaho,NaN,7482.240,15179.5,6451.8,16518.25,24700.100
14,19,2020,Illinois,NaN,14578.890,49783.06,35893.86,26251.76,28660.470

In [96]:
df1.columns

Index(['Unnamed: 0', 'Year', 'State', 'Total Public Tuition',
       'Public In-State Tuition', 'Total Private Tuition', 'Private Tuition',
       'Total Public Tuition In-State', 'Out-of-State Tuition'],
      dtype='object')

In [97]:
df2 = df1.drop(['Unnamed: 0'], axis = 1)
df2

,Year,State,Total Public Tuition,Public In-State Tuition,Total Private Tuition,Private Tuition,Total Public Tuition In-State,Out-of-State Tuition
0,2001,United States ..................,9196,3735.000,22896,16211,NaN,NaN
1,2001,Alabama ...........................,7647,3242.000,15137,10135,NaN,NaN
2,2001,Alaska ............................,9260,3062.000,16179,10161,NaN,NaN
3,2001,Arizona ............................,8233,2488.000,15913,10716,NaN,NaN
4,2001,Arkansas ...........................,7287,3371.000,14347,9888,NaN,NaN
5,2001,California .........................,10289,2719.000,26193,18394,NaN,NaN
6,2001,Colorado ...........................,8815,3166.000,25038,16917,NaN,NaN
7,2001,Connecticut .........................,11066,4780.000,29008,21016,NaN,NaN
8,2001,Delaware ............................,10889,5063.000,14886,8980,NaN,NaN
9,2001,District of Columbia ................,†,2070.000,26977,18751,NaN,NaN
10,2001,Florida ............................,8364,2555.000,20287,13988,NaN,NaN
11,2001,Georgia .............................,7945,2836.000,21018,14451,NaN,NaN
12,2001,Hawaii ...............................,7987,3051.000,16755,8985,NaN,NaN
13,2001,Idaho ..............................,7162,2859.000,10116,5278,NaN,NaN
14,2001,Illinois ...........................,10206,4572.000,22781,16105,NaN,NaN
15,2001,Indiana..............................,9781,3999.000,22419,16854,NaN,NaN
16,2001,Iowa ...............................,8251,3470.000,20289,15332,NaN,NaN
17,2001,Kansas ..............................,6986,2701.000,16570,11911,NaN,NaN
18,2001,Kentucky ...........................,7365,3184.000,15743,11037,NaN,NaN
19,2001,Louisiana ..........................,6711,2877.000,23266,16737,NaN,NaN
20,2001,Maine ...............................,10292,4821.000,24152,17621,NaN,NaN
21,2001,Maryland ...........................,11372,4966.000,26936,19606,NaN,NaN
22,2001,Massachusetts ......................,9361,3991.000,29939,21492,NaN,NaN
23,2001,Michigan ..........................,10551,5042.000,16843,11600,NaN,NaN
24,2001,Minnesota ...........................,9065,4483.000,22349,16918,NaN,NaN
25,2001,Mississippi ........................,7613,3417.000,14342,10106,NaN,NaN
26,2001,Missouri..........................,8673,4112.000,18745,13201,NaN,NaN
27,2001,Montana ...........................,8310,3468.000,16033,10107,NaN,NaN
28,2001,Nebraska ..........................,7739,3224.000,18805,14060,NaN,NaN
29,2001,Nevada .............................,8575,2450.000,19482,13273,NaN,NaN
30,2001,New Hampshire .....................,12343,6725.000,25955,18707,NaN,NaN
31,2001,New Jersey ........................,12853,6076.000,25111,17333,NaN,NaN
32,2001,New Mexico ........................,7587,2846.000,20417,14393,NaN,NaN
33,2001,New York ..........................,10739,4119.000,26419,18275,NaN,NaN
34,2001,North Carolina ...................,7655,2640.000,21054,15143,NaN,NaN
35,2001,North Dakota ......................,6844,3128.000,11853,8379,NaN,NaN
36,2001,Ohio ..............................,11170,5138.000,22022,16161,NaN,NaN
37,2001,Oklahoma ..........................,6295,2373.000,16311,11218,NaN,NaN
38,2001,Oregon ............................,10065,3864.000,24454,18312,NaN,NaN
39,2001,Pennsylvania .....................,11867,6316.000,26168,18917,NaN,NaN
40,2001,Rhode Island .....................,11575,4689.000,27172,19142,NaN,NaN
41,2001,South Carolina ....................,10038,5448.000,18009,13041,NaN,NaN
42,2001,South Dakota .....................,7544,3787.000,16306,12023,NaN,NaN
43,2001,Tennessee ........................,7780,3339.000,19161,13692,NaN,NaN
44,2001,Texas ............................,8057,2967.000,18160,12673,NaN,NaN
45,2001,Utah ..............................,7411,2389.000,8947,3969,NaN,NaN
46,2001,Vermont ...........................,13426,7449.000,23208,16454,NaN,NaN
47,2001,Virginia ..........................,8989,3770.000,20096,14429,NaN,NaN
48,2001,Washington ........................,9994,3790.000,22690,16706,NaN,NaN
49,2001,West Virginia......................,7628,2646.000,18066,12854,NaN,NaN
50,2001,Wisconsin .........................,7788,3693.000,21234,15829,NaN,NaN
51,2001,Wyoming ...........................,7421,2807.000,†,†,NaN,NaN
0,2017,United States ..................,NaN,9037.049,43139.295,30731.212,20049.845,25657.308
1,2017,Alabama ...........................,NaN,9826.626,26163.946,16320.713,19672.537,24939.325
2,2017,Alaska ............................,NaN,7221.032,26886.925,19360.055,18372.619,21283.982
3,2017,Arizona ............................,NaN,10557.034,22938.734,13487.405,22629.391,26067.427
4,2017,Arkansas ...........................,NaN,8186.904,30827.681,22609.893,17479.211,20060.615
5,2017,California .........................,NaN,8019.907,47410.054,33483.411,22081.301,29172.831
6,2017,Colorado ...........................,NaN,9539.832,35152.225,22872.593,21513.729,29846.092
7,2017,Connecticut .........................,NaN,12355.172,54819.373,40410.486,25182.296,33741.029
8,2017,Delaware ............................,NaN,9998.868,26927.581,15096.133,22370.672,29355.581
9,2017,District of Columbia ................,NaN,5756.000,57610.517,41775.223,†,12092.000
10,2017,Florida ............................,NaN,4455.479,37335.863,25531.469,14896.274,18241.063
11,2017,Georgia .............................,NaN,7206.420,40413.53,27813.467,17705.262,21957.241
12,2017,Hawaii ...............................,NaN,9709.102,28857.845,16447.085,21200.718,31019.495
13,2017,Idaho ..............................,NaN,7247.168,13488.112,5833.099,15454.691,22601.024
14,2017,Illinois ...........................,NaN,13970.568,45045.503,32491.354,25088.968,28617.761
15,2017,Indiana .............................,NaN,9038.218,43763.797,32338.452,19296.967,28804.778
16,2017,Iowa ...............................,NaN,8766.345,37380.157,27990.818,18426.29,26213.548
17,2017,Kansas ..............................,NaN,8736.582,30239.532,21316.023,17963.456,22614.535
18,2017,Kentucky ...........................,NaN,10365.092,35948.377,26719.394,20744.685,24632.451
19,2017,Louisiana ..........................,NaN,9164.635,49452.087,36715.343,18835.494,21631.871
20,2017,Maine ...............................,NaN,9664.274,49994.252,37043.316,19499.857,26939.480
21,2017,Maryland ...........................,NaN,9289.407,55685.127,41858.895,21177.37,24352.940
22,2017,Massachusetts ......................,NaN,12778.473,59558.947,44384.256,25229.365,29774.061
23,2017,Michigan ..........................,NaN,12434.584,36664.314,26964.257,22664.874,37599.841
24,2017,Minnesota ...........................,NaN,11225.877,42715.902,32415.888,20419.721,20736.247
25,2017,Mississippi ........................,NaN,7979.736,25773.911,17624.781,17718.402,19690.827
26,2017,Missouri .........................,NaN,8386.832,34622.858,24614.729,18106.068,19519.115
27,2017,Montana ...........................,NaN,6782.557,33739,24953.328,15800.475,23678.430
28,2017,Nebraska ..........................,NaN,8188.293,34598.313,23659.302,18448.79,20554.771
29,2017,Nevada .............................,NaN,5920.499,36162.844,23261.145,16810.274,21175.847
30,2017,New Hampshire .....................,NaN,15948.794,47030.429,33321.787,27569.748,28129.793
31,2017,New Jersey ........................,NaN,13633.360,50321.163,36589.069,26541.709,28649.209
32,2017,New Mexico ........................,NaN,6717.642,33620.13,23865.245,15802.892,17532.760
33,2017,New York ..........................,NaN,7938.103,53659.49,39006.547,22343.39,21661.765
34,2017,North Carolina ...................,NaN,7354.183,44050.059,32140.198,17342.85,24274.275
35,2017,North Dakota ......................,NaN,7687.283,22511.142,15256.062,15997.91,19020.702
36,2017,Ohio ..............................,NaN,10025.679,42254.152,31241.865,21674.171,24098.104
37,2017,Oklahoma ..........................,NaN,7622.557,35542.301,26240.35,16263.442,20200.127
38,2017,Oregon ............................,NaN,10362.925,50617.451,38674.258,22709.795,30486.548
39,2017,Pennsylvania .....................,NaN,14534.294,53239.241,40068.373,25795.143,27129.472
40,2017,Rhode Island .....................,NaN,12238.800,54876.793,40360.711,24279.521,29012.976
41,2017,South Carolina ....................,NaN,12579.044,34421.421,24931.485,22131.916,30918.906
42,2017,South Dakota .....................,NaN,8539.815,32156.845,24218.77,16420.825,12060.074
43,2017,Tennessee ........................,NaN,9574.426,37162.05,26938.99,18950.707,25378.340
44,2017,Texas ............................,NaN,8645.247,43865.995,32481.747,18271.394,24936.915
45,2017,Utah ..............................,NaN,6556.917,15389.01,7548.421,14174.17,20167.626
46,2017,Vermont ...........................,NaN,16103.349,56172.143,42636.611,27781.881,38967.841
47,2017,Virginia ..........................,NaN,12637.120,33658.309,23014.487,23426.934,33427.640
48,2017,Washington ........................,NaN,6830.454,48518.085,36806.901,18322.527,28263.194
49,2017,West Virginia .....................,NaN,7619.235,21299.934,12340.953,17803.035,21031.784
50,2017,Wisconsin .........................,NaN,8475.015,43331.967,33156.1,16543.924,23499.662
51,2017,Wyoming ...........................,NaN,4443.000,†,†,14485.524,13731.000
0,2016,United States ..................,NaN,8804.074,41467.869,29478.041,19487.672,24854.390
1,2016,Alabama ...........................,NaN,9466.105,24709.536,15421.537,19052.005,23999.508
2,2016,Alaska ............................,NaN,7210.342,26131.55,18876.363,17370.129,21431.489
3,2016,Arizona ............................,NaN,10056.575,22558.535,13139.738,21490.559,25061.481
4,2016,Arkansas ...........................,NaN,7924.042,29803.687,21709.817,16871.207,19322.961
5,2016,California .........................,NaN,7896.422,44721.64,31495.075,21355.599,28253.183
6,2016,Colorado ...........................,NaN,9351.817,34337.203,22626.722,20942.738,28986.059
7,2016,Connecticut .........................,NaN,11725.532,53197.661,38975.012,24173.612,32835.689
8,2016,Delaware ............................,NaN,9577.742,25996.089,14383.363,21698.361,28497.097
9,2016,District of Columbia ................,NaN,5612.000,55669.204,40617.775,†,11756.000
10,2016,Florida ............................,NaN,4434.706,35875.926,24360.449,14805.807,18303.643
11,2016,Georgia .............................,NaN,7009.689,39117.666,27220.364,17352.569,21376.965
12,2016,Hawaii ...............................,NaN,9712.465,28392.907,15949.444,21015.982,30928.795
13,2016,Idaho ..............................,NaN,7005.235,13009.634,5925.004,14457.186,21370.325
14,2016,Illinois ...........................,NaN,13636.006,43381.76,31298.189,24541.392,28166.727
15,2016,Indiana .............................,NaN,8876.382,41847.422,30925.909,19000.613,28314.757
16,2016,Iowa ...............................,NaN,8361.350,35780.462,26741.888,17604.073,24911.738
17,2016,Kansas ..............................,NaN,8488.796,28745.763,20290.957,17560.468,21999.961
18,2016,Kentucky ...........................,NaN,10014.159,34893.454,25844.529,19673.15,23538.923
19,2016,Louisiana ..........................,NaN,8813.440,47558.506,35189.502,18319.417,22770.656
20,2016,Maine ...............................,NaN,9219.065,48107.236,35546.83,19072.961,26003.709
21,2016,Maryland ...........................,NaN,9082.945,53774.882,40209.201,20647.225,22436.910
22,2016,Massachusetts ......................,NaN,12330.958,57362.757,42654.948,24473.225,28739.952
23,2016,Michigan ..........................,NaN,11889.638,33498.1,24058.287,21831.591,36713.682
24,2016,Minnesota ...........................,NaN,10883.163,40938.845,30924.666,19726.712,19087.569
25,2016,Mississippi ........................,NaN,7471.509,24697.686,16948.964,16843.245,19137.870
26,2016,Missouri .........................,NaN,8176.400,33433.186,23701.69,17639.098,18940.341
27,2016,Montana ...........................,NaN,6502.937,32375.368,23657.273,15241.219,22956.126
28,2016,Nebraska ..........................,NaN,7732.093,32199.896,23109.069,17379.019,19482.904
29,2016,Nevada .............................,NaN,5520.288,35053.31,21423.136,17145.258,20671.516
30,2016,New Hampshire .....................,NaN,15491.460,46532.952,33234.525,26968.075,27200.529
31,2016,New Jersey ........................,NaN,13296.686,48438.586,35223.836,26070.044,28051.217
32,2016,New Mexico ........................,NaN,6824.643,32372.745,22535.096,15528.242,17271.571
33,2016,New York ..........................,NaN,7708.829,51790.45,37580.361,21750.33,21453.636
34,2016,North Carolina ...................,NaN,7218.492,42312.201,30701.204,16635.023,23777.653
35,2016,North Dakota ......................,NaN,7376.285,20963.653,14289.563,15387.768,18288.050
36,2016,Ohio ..............................,NaN,9827.303,40980.263,30295.748,20960.782,23433.915
37,2016,Oklahoma ..........................,NaN,7218.774,33883.384,24775.853,15754.498,19174.447
38,2016,Oregon ............................,NaN,9738.905,48702.672,37088.213,21323.633,29329.911
39,2016,Pennsylvania .....................,NaN,14067.739,52131.781,39185.117,25331.495,26327.727
40,2016,Rhode Island .....................,NaN,11385.883,52873.593,38855.344,23134.991,27815.116
41,2016,South Carolina ....................,NaN,12152.893,33747.701,24523.095,21508.294,29888.293
42,2016,South Dakota .....................,NaN,8301.319,30925.668,23147.121,16054.4,11845.225
43,2016,Tennessee ........................,NaN,9286.937,35928.503,25984.598,18340.305,24802.079
44,2016,Texas ............................,NaN,8375.349,41978.523,31008.702,17799.057,23511.118
45,2016,Utah ..............................,NaN,6333.570,15211.745,7445.358,13709.235,19407.243
46,2016,Vermont ...........................,NaN,15537.442,54002.771,41063.123,26786.332,37991.117
47,2016,Virginia ..........................,NaN,12125.664,32616.215,22285.922,22567.261,32249.684
48,2016,Washington ........................,NaN,6903.181,46746.186,35288.114,18053.275,28127.968
49,2016,West Virginia .....................,NaN,7241.115,20897.733,12206.107,17095.629,20029.517
50,2016,Wisconsin .........................,NaN,8418.543,41503.241,31662.147,16245.843,22574.336
51,2016,Wyoming ...........................,NaN,4311.000,†,18021.0,14353.523,13239.000
0,2000,United States ..................,8653,3501.000,21856,15470,NaN,NaN
1,2000,Alabama ...........................,7349,2987.000,14136,9334,NaN,NaN
2,2000,Alaska ............................,8390,2941.000,14656,9381,NaN,NaN
3,2000,Arizona ............................,7874,2346.000,15109,9322,NaN,NaN
4,2000,Arkansas ...........................,6797,3011.000,13377,9109,NaN,NaN
5,2000,California .........................,9590,2566.000,24679,17219,NaN,NaN
6,2000,Colorado ...........................,8362,2980.000,23129,15445,NaN,NaN
7,2000,Connecticut .........................,10521,4553.000,27737,20056,NaN,NaN
8,2000,Delaware ............................,10283,4789.000,13936,8415,NaN,NaN
9,2000,District of Columbia ................,†,2070.000,26933,19186,NaN,NaN
10,2000,Florida ............................,7947,2366.000,19870,13805,NaN,NaN
11,2000,Georgia .............................,7463,2699.000,19951,13770,NaN,NaN
12,2000,Hawaii ...............................,8272,2968.000,16078,8000,NaN,NaN
13,2000,Idaho ..............................,6765,2628.000,17793,13664,NaN,NaN
14,2000,Illinois ...........................,9532,4178.000,21784,15317,NaN,NaN
15,2000,Indiana..............................,9239,3786.000,21378,16078,NaN,NaN
16,2000,Iowa ...............................,7587,3157.000,19414,14630,NaN,NaN
17,2000,Kansas ..............................,6654,2642.000,15670,11206,NaN,NaN
18,2000,Kentucky ...........................,6923,2898.000,14644,10176,NaN,NaN
19,2000,Louisiana ..........................,6329,2783.000,21937,15591,NaN,NaN
20,2000,Maine ...............................,9371,4267.000,22690,16450,NaN,NaN
21,2000,Maryland ...........................,10834,4772.000,25670,18621,NaN,NaN
22,2000,Massachusetts ......................,9207,4003.000,28666,20566,NaN,NaN
23,2000,Michigan ..........................,9825,4615.000,16011,11155,NaN,NaN
24,2000,Minnesota ...........................,8127,4009.000,21332,16243,NaN,NaN
25,2000,Mississippi ........................,7195,2969.000,13767,9659,NaN,NaN
26,2000,Missouri..........................,8203,3879.000,17886,12600,NaN,NaN
27,2000,Montana ...........................,7615,3079.000,14454,9631,NaN,NaN
28,2000,Nebraska ..........................,7355,3101.000,16093,11619,NaN,NaN
29,2000,Nevada .............................,8247,2344.000,17835,11465,NaN,NaN
30,2000,New Hampshire .....................,11720,6458.000,25184,18261,NaN,NaN
31,2000,New Jersey ........................,12007,5609.000,23738,16680,NaN,NaN
32,2000,New Mexico ........................,7086,2627.000,19011,14062,NaN,NaN
33,2000,New York ..........................,10260,4063.000,25178,17433,NaN,NaN
34,2000,North Carolina ...................,7076,2298.000,20185,14274,NaN,NaN
35,2000,North Dakota ......................,6418,2942.000,11399,8026,NaN,NaN
36,2000,Ohio ..............................,10451,4742.000,20983,15419,NaN,NaN
37,2000,Oklahoma ..........................,6022,2259.000,15307,10587,NaN,NaN
38,2000,Oregon ............................,9394,3646.000,23123,17533,NaN,NaN
39,2000,Pennsylvania .....................,11091,5917.000,24737,17821,NaN,NaN
40,2000,Rhode Island .....................,11095,4506.000,26073,18320,NaN,NaN
41,2000,South Carolina ....................,9096,4701.000,17518,12713,NaN,NaN
42,2000,South Dakota .....................,6975,3484.000,15335,11194,NaN,NaN
43,2000,Tennessee ........................,7658,2950.000,18128,12922,NaN,NaN
44,2000,Texas ............................,7614,2785.000,16890,11865,NaN,NaN
45,2000,Utah ..............................,6598,2226.000,8600,3754,NaN,NaN
46,2000,Vermont ...........................,12847,7142.000,22454,15740,NaN,NaN
47,2000,Virginia ..........................,8751,3723.000,18499,13118,NaN,NaN
48,2000,Washington ........................,8909,3600.000,21505,15874,NaN,NaN
49,2000,West Virginia......................,7290,2551.000,18285,12999,NaN,NaN
50,2000,Wisconsin .........................,7396,3417.000,20317,15032,NaN,NaN
51,2000,Wyoming ...........................,7017,2575.000,†,†,NaN,NaN
0,2020,United States,NaN,9374.520,46312.51,32825.3,21337.37,27090.840
1,2020,Alabama,NaN,10616.860,27966.09,17353.56,20992.79,27004.540
2,2020,Alaska,NaN,8849.200,28361.63,19574.68,22185.45,25535.400
3,2020,Arizona,NaN,11409.740,22862.16,13108.34,24681.26,25426.110
4,2020,Arkansas,NaN,8467.880,33613.93,24997.8,18261.7,21597.510
5,2020,California,NaN,8401.240,53679.66,38476.64,24015.11,34398.460
6,2020,Colorado,NaN,9268.920,36877.76,23128.17,22288.2,30930.280
7,2020,Connecticut,NaN,14486.780,58706.91,43012.65,28425.09,36880.760
8,2020,Delaware,NaN,11343.310,25743.09,14501,24861.71,31809.270
9,2020,District of Columbia,NaN,6152.000,61912.13,44692.27,†,13004.000
10,2020,Florida,NaN,4540.550,41843,28860.39,15543.07,18322.270
11,2020,Georgia,NaN,7525.440,43626.49,30379.8,18711.06,23430.030
12,2020,Hawaii,NaN,10197.230,32947.66,19095.63,22012.15,32043.030
13,2020,Idaho,NaN,7482.240,15179.5,6451.8,16518.25,24700.100
14,2020,Illinois,NaN,14578.890,49783.06,35893.86,26251.76,28660.470
15,2020,Indiana,NaN,9656.360,48210.73,35446.9,20571.63,28971.600
16,2020,Iowa,NaN,9372.930,45381.87,35223.89,19788.49,27684.220
17,2020,Kansas,NaN,9081.170,35339.08,25523.1,19082.23,23944.630
18,2020,Kentucky,NaN,10975.520,36274.51,26995.8,22317.26,25048.750
19,2020,Louisiana,NaN,9641.930,55526.35,41393.32,20031.04,23332.930
20,2020,Maine,NaN,10377.250,53955.22,40007.36,20677.15,29061.110
21,2020,Maryland,NaN,9401.450,58133.79,44356.17,22380.36,26376.010
22,2020,Massachusetts,NaN,13939.080,65783.8,49152.34,28316.99,32019.410
23,2020,Michigan,NaN,13715.680,41789.62,31054.9,24777.03,39427.440
24,2020,Minnesota,NaN,11836.250,45775.08,34608.41,21857.71,24620.290

In [98]:
df2.dtypes

Year                               int64
State                             object
Total Public Tuition              object
Public In-State Tuition          float64
Total Private Tuition             object
Private Tuition                   object
Total Public Tuition In-State     object
Out-of-State Tuition             float64
dtype: object

In [115]:
df2['Year'] = pd.to_datetime(df2['Year'], format='%Y')

In [116]:
print(df2.dtypes)
df2

Year                             datetime64[ns]
State                                    object
Total Public Tuition                     object
Public In-State Tuition                 float64
Total Private Tuition                    object
Private Tuition                          object
Total Public Tuition In-State            object
Out-of-State Tuition                    float64
dtype: object

,Year,State,Total Public Tuition,Public In-State Tuition,Total Private Tuition,Private Tuition,Total Public Tuition In-State,Out-of-State Tuition
0,2001-01-01,United States ..................,9196,3735.000,22896,16211,NaN,NaN
1,2001-01-01,Alabama ...........................,7647,3242.000,15137,10135,NaN,NaN
2,2001-01-01,Alaska ............................,9260,3062.000,16179,10161,NaN,NaN
3,2001-01-01,Arizona ............................,8233,2488.000,15913,10716,NaN,NaN
4,2001-01-01,Arkansas ...........................,7287,3371.000,14347,9888,NaN,NaN
5,2001-01-01,California .........................,10289,2719.000,26193,18394,NaN,NaN
6,2001-01-01,Colorado ...........................,8815,3166.000,25038,16917,NaN,NaN
7,2001-01-01,Connecticut .........................,11066,4780.000,29008,21016,NaN,NaN
8,2001-01-01,Delaware ............................,10889,5063.000,14886,8980,NaN,NaN
9,2001-01-01,District of Columbia ................,†,2070.000,26977,18751,NaN,NaN
10,2001-01-01,Florida ............................,8364,2555.000,20287,13988,NaN,NaN
11,2001-01-01,Georgia .............................,7945,2836.000,21018,14451,NaN,NaN
12,2001-01-01,Hawaii ...............................,7987,3051.000,16755,8985,NaN,NaN
13,2001-01-01,Idaho ..............................,7162,2859.000,10116,5278,NaN,NaN
14,2001-01-01,Illinois ...........................,10206,4572.000,22781,16105,NaN,NaN
15,2001-01-01,Indiana..............................,9781,3999.000,22419,16854,NaN,NaN
16,2001-01-01,Iowa ...............................,8251,3470.000,20289,15332,NaN,NaN
17,2001-01-01,Kansas ..............................,6986,2701.000,16570,11911,NaN,NaN
18,2001-01-01,Kentucky ...........................,7365,3184.000,15743,11037,NaN,NaN
19,2001-01-01,Louisiana ..........................,6711,2877.000,23266,16737,NaN,NaN
20,2001-01-01,Maine ...............................,10292,4821.000,24152,17621,NaN,NaN
21,2001-01-01,Maryland ...........................,11372,4966.000,26936,19606,NaN,NaN
22,2001-01-01,Massachusetts ......................,9361,3991.000,29939,21492,NaN,NaN
23,2001-01-01,Michigan ..........................,10551,5042.000,16843,11600,NaN,NaN
24,2001-01-01,Minnesota ...........................,9065,4483.000,22349,16918,NaN,NaN
25,2001-01-01,Mississippi ........................,7613,3417.000,14342,10106,NaN,NaN
26,2001-01-01,Missouri..........................,8673,4112.000,18745,13201,NaN,NaN
27,2001-01-01,Montana ...........................,8310,3468.000,16033,10107,NaN,NaN
28,2001-01-01,Nebraska ..........................,7739,3224.000,18805,14060,NaN,NaN
29,2001-01-01,Nevada .............................,8575,2450.000,19482,13273,NaN,NaN
30,2001-01-01,New Hampshire .....................,12343,6725.000,25955,18707,NaN,NaN
31,2001-01-01,New Jersey ........................,12853,6076.000,25111,17333,NaN,NaN
32,2001-01-01,New Mexico ........................,7587,2846.000,20417,14393,NaN,NaN
33,2001-01-01,New York ..........................,10739,4119.000,26419,18275,NaN,NaN
34,2001-01-01,North Carolina ...................,7655,2640.000,21054,15143,NaN,NaN
35,2001-01-01,North Dakota ......................,6844,3128.000,11853,8379,NaN,NaN
36,2001-01-01,Ohio ..............................,11170,5138.000,22022,16161,NaN,NaN
37,2001-01-01,Oklahoma ..........................,6295,2373.000,16311,11218,NaN,NaN
38,2001-01-01,Oregon ............................,10065,3864.000,24454,18312,NaN,NaN
39,2001-01-01,Pennsylvania .....................,11867,6316.000,26168,18917,NaN,NaN
40,2001-01-01,Rhode Island .....................,11575,4689.000,27172,19142,NaN,NaN
41,2001-01-01,South Carolina ....................,10038,5448.000,18009,13041,NaN,NaN
42,2001-01-01,South Dakota .....................,7544,3787.000,16306,12023,NaN,NaN
43,2001-01-01,Tennessee ........................,7780,3339.000,19161,13692,NaN,NaN
44,2001-01-01,Texas ............................,8057,2967.000,18160,12673,NaN,NaN
45,2001-01-01,Utah ..............................,7411,2389.000,8947,3969,NaN,NaN
46,2001-01-01,Vermont ...........................,13426,7449.000,23208,16454,NaN,NaN
47,2001-01-01,Virginia ..........................,8989,3770.000,20096,14429,NaN,NaN
48,2001-01-01,Washington ........................,9994,3790.000,22690,16706,NaN,NaN
49,2001-01-01,West Virginia......................,7628,2646.000,18066,12854,NaN,NaN
50,2001-01-01,Wisconsin .........................,7788,3693.000,21234,15829,NaN,NaN
51,2001-01-01,Wyoming ...........................,7421,2807.000,†,†,NaN,NaN
0,2017-01-01,United States ..................,NaN,9037.049,43139.295,30731.212,20049.845,25657.308
1,2017-01-01,Alabama ...........................,NaN,9826.626,26163.946,16320.713,19672.537,24939.325
2,2017-01-01,Alaska ............................,NaN,7221.032,26886.925,19360.055,18372.619,21283.982
3,2017-01-01,Arizona ............................,NaN,10557.034,22938.734,13487.405,22629.391,26067.427
4,2017-01-01,Arkansas ...........................,NaN,8186.904,30827.681,22609.893,17479.211,20060.615
5,2017-01-01,California .........................,NaN,8019.907,47410.054,33483.411,22081.301,29172.831
6,2017-01-01,Colorado ...........................,NaN,9539.832,35152.225,22872.593,21513.729,29846.092
7,2017-01-01,Connecticut .........................,NaN,12355.172,54819.373,40410.486,25182.296,33741.029
8,2017-01-01,Delaware ............................,NaN,9998.868,26927.581,15096.133,22370.672,29355.581
9,2017-01-01,District of Columbia ................,NaN,5756.000,57610.517,41775.223,†,12092.000
10,2017-01-01,Florida ............................,NaN,4455.479,37335.863,25531.469,14896.274,18241.063
11,2017-01-01,Georgia .............................,NaN,7206.420,40413.53,27813.467,17705.262,21957.241
12,2017-01-01,Hawaii ...............................,NaN,9709.102,28857.845,16447.085,21200.718,31019.495
13,2017-01-01,Idaho ..............................,NaN,7247.168,13488.112,5833.099,15454.691,22601.024
14,2017-01-01,Illinois ...........................,NaN,13970.568,45045.503,32491.354,25088.968,28617.761
15,2017-01-01,Indiana .............................,NaN,9038.218,43763.797,32338.452,19296.967,28804.778
16,2017-01-01,Iowa ...............................,NaN,8766.345,37380.157,27990.818,18426.29,26213.548
17,2017-01-01,Kansas ..............................,NaN,8736.582,30239.532,21316.023,17963.456,22614.535
18,2017-01-01,Kentucky ...........................,NaN,10365.092,35948.377,26719.394,20744.685,24632.451
19,2017-01-01,Louisiana ..........................,NaN,9164.635,49452.087,36715.343,18835.494,21631.871
20,2017-01-01,Maine ...............................,NaN,9664.274,49994.252,37043.316,19499.857,26939.480
21,2017-01-01,Maryland ...........................,NaN,9289.407,55685.127,41858.895,21177.37,24352.940
22,2017-01-01,Massachusetts ......................,NaN,12778.473,59558.947,44384.256,25229.365,29774.061
23,2017-01-01,Michigan ..........................,NaN,12434.584,36664.314,26964.257,22664.874,37599.841
24,2017-01-01,Minnesota ...........................,NaN,11225.877,42715.902,32415.888,20419.721,20736.247
25,2017-01-01,Mississippi ........................,NaN,7979.736,25773.911,17624.781,17718.402,19690.827
26,2017-01-01,Missouri .........................,NaN,8386.832,34622.858,24614.729,18106.068,19519.115
27,2017-01-01,Montana ...........................,NaN,6782.557,33739,24953.328,15800.475,23678.430
28,2017-01-01,Nebraska ..........................,NaN,8188.293,34598.313,23659.302,18448.79,20554.771
29,2017-01-01,Nevada .............................,NaN,5920.499,36162.844,23261.145,16810.274,21175.847
30,2017-01-01,New Hampshire .....................,NaN,15948.794,47030.429,33321.787,27569.748,28129.793
31,2017-01-01,New Jersey ........................,NaN,13633.360,50321.163,36589.069,26541.709,28649.209
32,2017-01-01,New Mexico ........................,NaN,6717.642,33620.13,23865.245,15802.892,17532.760
33,2017-01-01,New York ..........................,NaN,7938.103,53659.49,39006.547,22343.39,21661.765
34,2017-01-01,North Carolina ...................,NaN,7354.183,44050.059,32140.198,17342.85,24274.275
35,2017-01-01,North Dakota ......................,NaN,7687.283,22511.142,15256.062,15997.91,19020.702
36,2017-01-01,Ohio ..............................,NaN,10025.679,42254.152,31241.865,21674.171,24098.104
37,2017-01-01,Oklahoma ..........................,NaN,7622.557,35542.301,26240.35,16263.442,20200.127
38,2017-01-01,Oregon ............................,NaN,10362.925,50617.451,38674.258,22709.795,30486.548
39,2017-01-01,Pennsylvania .....................,NaN,14534.294,53239.241,40068.373,25795.143,27129.472
40,2017-01-01,Rhode Island .....................,NaN,12238.800,54876.793,40360.711,24279.521,29012.976
41,2017-01-01,South Carolina ....................,NaN,12579.044,34421.421,24931.485,22131.916,30918.906
42,2017-01-01,South Dakota .....................,NaN,8539.815,32156.845,24218.77,16420.825,12060.074
43,2017-01-01,Tennessee ........................,NaN,9574.426,37162.05,26938.99,18950.707,25378.340
44,2017-01-01,Texas ............................,NaN,8645.247,43865.995,32481.747,18271.394,24936.915
45,2017-01-01,Utah ..............................,NaN,6556.917,15389.01,7548.421,14174.17,20167.626
46,2017-01-01,Vermont ...........................,NaN,16103.349,56172.143,42636.611,27781.881,38967.841
47,2017-01-01,Virginia ..........................,NaN,12637.120,33658.309,23014.487,23426.934,33427.640
48,2017-01-01,Washington ........................,NaN,6830.454,48518.085,36806.901,18322.527,28263.194
49,2017-01-01,West Virginia .....................,NaN,7619.235,21299.934,12340.953,17803.035,21031.784
50,2017-01-01,Wisconsin .........................,NaN,8475.015,43331.967,33156.1,16543.924,23499.662
51,2017-01-01,Wyoming ...........................,NaN,4443.000,†,†,14485.524,13731.000
0,2016-01-01,United States ..................,NaN,8804.074,41467.869,29478.041,19487.672,24854.390
1,2016-01-01,Alabama ...........................,NaN,9466.105,24709.536,15421.537,19052.005,23999.508
2,2016-01-01,Alaska ............................,NaN,7210.342,26131.55,18876.363,17370.129,21431.489
3,2016-01-01,Arizona ............................,NaN,10056.575,22558.535,13139.738,21490.559,25061.481
4,2016-01-01,Arkansas ...........................,NaN,7924.042,29803.687,21709.817,16871.207,19322.961
5,2016-01-01,California .........................,NaN,7896.422,44721.64,31495.075,21355.599,28253.183
6,2016-01-01,Colorado ...........................,NaN,9351.817,34337.203,22626.722,20942.738,28986.059
7,2016-01-01,Connecticut .........................,NaN,11725.532,53197.661,38975.012,24173.612,32835.689
8,2016-01-01,Delaware ............................,NaN,9577.742,25996.089,14383.363,21698.361,28497.097
9,2016-01-01,District of Columbia ................,NaN,5612.000,55669.204,40617.775,†,11756.000
10,2016-01-01,Florida ............................,NaN,4434.706,35875.926,24360.449,14805.807,18303.643
11,2016-01-01,Georgia .............................,NaN,7009.689,39117.666,27220.364,17352.569,21376.965
12,2016-01-01,Hawaii ...............................,NaN,9712.465,28392.907,15949.444,21015.982,30928.795
13,2016-01-01,Idaho ..............................,NaN,7005.235,13009.634,5925.004,14457.186,21370.325
14,2016-01-01,Illinois ...........................,NaN,13636.006,43381.76,31298.189,24541.392,28166.727
15,2016-01-01,Indiana .............................,NaN,8876.382,41847.422,30925.909,19000.613,28314.757
16,2016-01-01,Iowa ...............................,NaN,8361.350,35780.462,26741.888,17604.073,24911.738
17,2016-01-01,Kansas ..............................,NaN,8488.796,28745.763,20290.957,17560.468,21999.961
18,2016-01-01,Kentucky ...........................,NaN,10014.159,34893.454,25844.529,19673.15,23538.923
19,2016-01-01,Louisiana ..........................,NaN,8813.440,47558.506,35189.502,18319.417,22770.656
20,2016-01-01,Maine ...............................,NaN,9219.065,48107.236,35546.83,19072.961,26003.709
21,2016-01-01,Maryland ...........................,NaN,9082.945,53774.882,40209.201,20647.225,22436.910
22,2016-01-01,Massachusetts ......................,NaN,12330.958,57362.757,42654.948,24473.225,28739.952
23,2016-01-01,Michigan ..........................,NaN,11889.638,33498.1,24058.287,21831.591,36713.682
24,2016-01-01,Minnesota ...........................,NaN,10883.163,40938.845,30924.666,19726.712,19087.569
25,2016-01-01,Mississippi ........................,NaN,7471.509,24697.686,16948.964,16843.245,19137.870
26,2016-01-01,Missouri .........................,NaN,8176.400,33433.186,23701.69,17639.098,18940.341
27,2016-01-01,Montana ...........................,NaN,6502.937,32375.368,23657.273,15241.219,22956.126
28,2016-01-01,Nebraska ..........................,NaN,7732.093,32199.896,23109.069,17379.019,19482.904
29,2016-01-01,Nevada .............................,NaN,5520.288,35053.31,21423.136,17145.258,20671.516
30,2016-01-01,New Hampshire .....................,NaN,15491.460,46532.952,33234.525,26968.075,27200.529
31,2016-01-01,New Jersey ........................,NaN,13296.686,48438.586,35223.836,26070.044,28051.217
32,2016-01-01,New Mexico ........................,NaN,6824.643,32372.745,22535.096,15528.242,17271.571
33,2016-01-01,New York ..........................,NaN,7708.829,51790.45,37580.361,21750.33,21453.636
34,2016-01-01,North Carolina ...................,NaN,7218.492,42312.201,30701.204,16635.023,23777.653
35,2016-01-01,North Dakota ......................,NaN,7376.285,20963.653,14289.563,15387.768,18288.050
36,2016-01-01,Ohio ..............................,NaN,9827.303,40980.263,30295.748,20960.782,23433.915
37,2016-01-01,Oklahoma ..........................,NaN,7218.774,33883.384,24775.853,15754.498,19174.447
38,2016-01-01,Oregon ............................,NaN,9738.905,48702.672,37088.213,21323.633,29329.911
39,2016-01-01,Pennsylvania .....................,NaN,14067.739,52131.781,39185.117,25331.495,26327.727
40,2016-01-01,Rhode Island .....................,NaN,11385.883,52873.593,38855.344,23134.991,27815.116
41,2016-01-01,South Carolina ....................,NaN,12152.893,33747.701,24523.095,21508.294,29888.293
42,2016-01-01,South Dakota .....................,NaN,8301.319,30925.668,23147.121,16054.4,11845.225
43,2016-01-01,Tennessee ........................,NaN,9286.937,35928.503,25984.598,18340.305,24802.079
44,2016-01-01,Texas ............................,NaN,8375.349,41978.523,31008.702,17799.057,23511.118
45,2016-01-01,Utah ..............................,NaN,6333.570,15211.745,7445.358,13709.235,19407.243
46,2016-01-01,Vermont ...........................,NaN,15537.442,54002.771,41063.123,26786.332,37991.117
47,2016-01-01,Virginia ..........................,NaN,12125.664,32616.215,22285.922,22567.261,32249.684
48,2016-01-01,Washington ........................,NaN,6903.181,46746.186,35288.114,18053.275,28127.968
49,2016-01-01,West Virginia .....................,NaN,7241.115,20897.733,12206.107,17095.629,20029.517
50,2016-01-01,Wisconsin .........................,NaN,8418.543,41503.241,31662.147,16245.843,22574.336
51,2016-01-01,Wyoming ...........................,NaN,4311.000,†,18021.0,14353.523,13239.000
0,2000-01-01,United States ..................,8653,3501.000,21856,15470,NaN,NaN
1,2000-01-01,Alabama ...........................,7349,2987.000,14136,9334,NaN,NaN
2,2000-01-01,Alaska ............................,8390,2941.000,14656,9381,NaN,NaN
3,2000-01-01,Arizona ............................,7874,2346.000,15109,9322,NaN,NaN
4,2000-01-01,Arkansas ...........................,6797,3011.000,13377,9109,NaN,NaN
5,2000-01-01,California .........................,9590,2566.000,24679,17219,NaN,NaN
6,2000-01-01,Colorado ...........................,8362,2980.000,23129,15445,NaN,NaN
7,2000-01-01,Connecticut .........................,10521,4553.000,27737,20056,NaN,NaN
8,2000-01-01,Delaware ............................,10283,4789.000,13936,8415,NaN,NaN
9,2000-01-01,District of Columbia ................,†,2070.000,26933,19186,NaN,NaN
10,2000-01-01,Florida ............................,7947,2366.000,19870,13805,NaN,NaN
11,2000-01-01,Georgia .............................,7463,2699.000,19951,13770,NaN,NaN
12,2000-01-01,Hawaii ...............................,8272,2968.000,16078,8000,NaN,NaN
13,2000-01-01,Idaho ..............................,6765,2628.000,17793,13664,NaN,NaN
14,2000-01-01,Illinois ...........................,9532,4178.000,21784,15317,NaN,NaN
15,2000-01-01,Indiana..............................,9239,3786.000,21378,16078,NaN,NaN
16,2000-01-01,Iowa ...............................,7587,3157.000,19414,14630,NaN,NaN
17,2000-01-01,Kansas ..............................,6654,2642.000,15670,11206,NaN,NaN
18,2000-01-01,Kentucky ...........................,6923,2898.000,14644,10176,NaN,NaN
19,2000-01-01,Louisiana ..........................,6329,2783.000,21937,15591,NaN,NaN
20,2000-01-01,Maine ...............................,9371,4267.000,22690,16450,NaN,NaN
21,2000-01-01,Maryland ...........................,10834,4772.000,25670,18621,NaN,NaN
22,2000-01-01,Massachusetts ......................,9207,4003.000,28666,20566,NaN,NaN
23,2000-01-01,Michigan ..........................,9825,4615.000,16011,11155,NaN,NaN
24,2000-01-01,Minnesota ...........................,8127,4009.000,21332,16243,NaN,NaN
25,2000-01-01,Mississippi ........................,7195,2969.000,13767,9659,NaN,NaN
26,2000-01-01,Missouri..........................,8203,3879.000,17886,12600,NaN,NaN
27,2000-01-01,Montana ...........................,7615,3079.000,14454,9631,NaN,NaN
28,2000-01-01,Nebraska ..........................,7355,3101.000,16093,11619,NaN,NaN
29,2000-01-01,Nevada .............................,8247,2344.000,17835,11465,NaN,NaN
30,2000-01-01,New Hampshire .....................,11720,6458.000,25184,18261,NaN,NaN
31,2000-01-01,New Jersey ........................,12007,5609.000,23738,16680,NaN,NaN
32,2000-01-01,New Mexico ........................,7086,2627.000,19011,14062,NaN,NaN
33,2000-01-01,New York ..........................,10260,4063.000,25178,17433,NaN,NaN
34,2000-01-01,North Carolina ...................,7076,2298.000,20185,14274,NaN,NaN
35,2000-01-01,North Dakota ......................,6418,2942.000,11399,8026,NaN,NaN
36,2000-01-01,Ohio ..............................,10451,4742.000,20983,15419,NaN,NaN
37,2000-01-01,Oklahoma ..........................,6022,2259.000,15307,10587,NaN,NaN
38,2000-01-01,Oregon ............................,9394,3646.000,23123,17533,NaN,NaN
39,2000-01-01,Pennsylvania .....................,11091,5917.000,24737,17821,NaN,NaN
40,2000-01-01,Rhode Island .....................,11095,4506.000,26073,18320,NaN,NaN
41,2000-01-01,South Carolina ....................,9096,4701.000,17518,12713,NaN,NaN
42,2000-01-01,South Dakota .....................,6975,3484.000,15335,11194,NaN,NaN
43,2000-01-01,Tennessee ........................,7658,2950.000,18128,12922,NaN,NaN
44,2000-01-01,Texas ............................,7614,2785.000,16890,11865,NaN,NaN
45,2000-01-01,Utah ..............................,6598,2226.000,8600,3754,NaN,NaN
46,2000-01-01,Vermont ...........................,12847,7142.000,22454,15740,NaN,NaN
47,2000-01-01,Virginia ..........................,8751,3723.000,18499,13118,NaN,NaN
48,2000-01-01,Washington ........................,8909,3600.000,21505,15874,NaN,NaN
49,2000-01-01,West Virginia......................,7290,2551.000,18285,12999,NaN,NaN
50,2000-01-01,Wisconsin .........................,7396,3417.000,20317,15032,NaN,NaN
51,2000-01-01,Wyoming ...........................,7017,2575.000,†,†,NaN,NaN
0,2020-01-01,United States,NaN,9374.520,46312.51,32825.3,21337.37,27090.840
1,2020-01-01,Alabama,NaN,10616.860,27966.09,17353.56,20992.79,27004.540
2,2020-01-01,Alaska,NaN,8849.200,28361.63,19574.68,22185.45,25535.400
3,2020-01-01,Arizona,NaN,11409.740,22862.16,13108.34,24681.26,25426.110
4,2020-01-01,Arkansas,NaN,8467.880,33613.93,24997.8,18261.7,21597.510

In [118]:
df2.sort_values(by='Year', ascending=False)
df2

,Year,State,Total Public Tuition,Public In-State Tuition,Total Private Tuition,Private Tuition,Total Public Tuition In-State,Out-of-State Tuition
0,2001-01-01,United States ..................,9196,3735.000,22896,16211,NaN,NaN
1,2001-01-01,Alabama ...........................,7647,3242.000,15137,10135,NaN,NaN
2,2001-01-01,Alaska ............................,9260,3062.000,16179,10161,NaN,NaN
3,2001-01-01,Arizona ............................,8233,2488.000,15913,10716,NaN,NaN
4,2001-01-01,Arkansas ...........................,7287,3371.000,14347,9888,NaN,NaN
5,2001-01-01,California .........................,10289,2719.000,26193,18394,NaN,NaN
6,2001-01-01,Colorado ...........................,8815,3166.000,25038,16917,NaN,NaN
7,2001-01-01,Connecticut .........................,11066,4780.000,29008,21016,NaN,NaN
8,2001-01-01,Delaware ............................,10889,5063.000,14886,8980,NaN,NaN
9,2001-01-01,District of Columbia ................,†,2070.000,26977,18751,NaN,NaN
10,2001-01-01,Florida ............................,8364,2555.000,20287,13988,NaN,NaN
11,2001-01-01,Georgia .............................,7945,2836.000,21018,14451,NaN,NaN
12,2001-01-01,Hawaii ...............................,7987,3051.000,16755,8985,NaN,NaN
13,2001-01-01,Idaho ..............................,7162,2859.000,10116,5278,NaN,NaN
14,2001-01-01,Illinois ...........................,10206,4572.000,22781,16105,NaN,NaN
15,2001-01-01,Indiana..............................,9781,3999.000,22419,16854,NaN,NaN
16,2001-01-01,Iowa ...............................,8251,3470.000,20289,15332,NaN,NaN
17,2001-01-01,Kansas ..............................,6986,2701.000,16570,11911,NaN,NaN
18,2001-01-01,Kentucky ...........................,7365,3184.000,15743,11037,NaN,NaN
19,2001-01-01,Louisiana ..........................,6711,2877.000,23266,16737,NaN,NaN
20,2001-01-01,Maine ...............................,10292,4821.000,24152,17621,NaN,NaN
21,2001-01-01,Maryland ...........................,11372,4966.000,26936,19606,NaN,NaN
22,2001-01-01,Massachusetts ......................,9361,3991.000,29939,21492,NaN,NaN
23,2001-01-01,Michigan ..........................,10551,5042.000,16843,11600,NaN,NaN
24,2001-01-01,Minnesota ...........................,9065,4483.000,22349,16918,NaN,NaN
25,2001-01-01,Mississippi ........................,7613,3417.000,14342,10106,NaN,NaN
26,2001-01-01,Missouri..........................,8673,4112.000,18745,13201,NaN,NaN
27,2001-01-01,Montana ...........................,8310,3468.000,16033,10107,NaN,NaN
28,2001-01-01,Nebraska ..........................,7739,3224.000,18805,14060,NaN,NaN
29,2001-01-01,Nevada .............................,8575,2450.000,19482,13273,NaN,NaN
30,2001-01-01,New Hampshire .....................,12343,6725.000,25955,18707,NaN,NaN
31,2001-01-01,New Jersey ........................,12853,6076.000,25111,17333,NaN,NaN
32,2001-01-01,New Mexico ........................,7587,2846.000,20417,14393,NaN,NaN
33,2001-01-01,New York ..........................,10739,4119.000,26419,18275,NaN,NaN
34,2001-01-01,North Carolina ...................,7655,2640.000,21054,15143,NaN,NaN
35,2001-01-01,North Dakota ......................,6844,3128.000,11853,8379,NaN,NaN
36,2001-01-01,Ohio ..............................,11170,5138.000,22022,16161,NaN,NaN
37,2001-01-01,Oklahoma ..........................,6295,2373.000,16311,11218,NaN,NaN
38,2001-01-01,Oregon ............................,10065,3864.000,24454,18312,NaN,NaN
39,2001-01-01,Pennsylvania .....................,11867,6316.000,26168,18917,NaN,NaN
40,2001-01-01,Rhode Island .....................,11575,4689.000,27172,19142,NaN,NaN
41,2001-01-01,South Carolina ....................,10038,5448.000,18009,13041,NaN,NaN
42,2001-01-01,South Dakota .....................,7544,3787.000,16306,12023,NaN,NaN
43,2001-01-01,Tennessee ........................,7780,3339.000,19161,13692,NaN,NaN
44,2001-01-01,Texas ............................,8057,2967.000,18160,12673,NaN,NaN
45,2001-01-01,Utah ..............................,7411,2389.000,8947,3969,NaN,NaN
46,2001-01-01,Vermont ...........................,13426,7449.000,23208,16454,NaN,NaN
47,2001-01-01,Virginia ..........................,8989,3770.000,20096,14429,NaN,NaN
48,2001-01-01,Washington ........................,9994,3790.000,22690,16706,NaN,NaN
49,2001-01-01,West Virginia......................,7628,2646.000,18066,12854,NaN,NaN
50,2001-01-01,Wisconsin .........................,7788,3693.000,21234,15829,NaN,NaN
51,2001-01-01,Wyoming ...........................,7421,2807.000,†,†,NaN,NaN
0,2017-01-01,United States ..................,NaN,9037.049,43139.295,30731.212,20049.845,25657.308
1,2017-01-01,Alabama ...........................,NaN,9826.626,26163.946,16320.713,19672.537,24939.325
2,2017-01-01,Alaska ............................,NaN,7221.032,26886.925,19360.055,18372.619,21283.982
3,2017-01-01,Arizona ............................,NaN,10557.034,22938.734,13487.405,22629.391,26067.427
4,2017-01-01,Arkansas ...........................,NaN,8186.904,30827.681,22609.893,17479.211,20060.615
5,2017-01-01,California .........................,NaN,8019.907,47410.054,33483.411,22081.301,29172.831
6,2017-01-01,Colorado ...........................,NaN,9539.832,35152.225,22872.593,21513.729,29846.092
7,2017-01-01,Connecticut .........................,NaN,12355.172,54819.373,40410.486,25182.296,33741.029
8,2017-01-01,Delaware ............................,NaN,9998.868,26927.581,15096.133,22370.672,29355.581
9,2017-01-01,District of Columbia ................,NaN,5756.000,57610.517,41775.223,†,12092.000
10,2017-01-01,Florida ............................,NaN,4455.479,37335.863,25531.469,14896.274,18241.063
11,2017-01-01,Georgia .............................,NaN,7206.420,40413.53,27813.467,17705.262,21957.241
12,2017-01-01,Hawaii ...............................,NaN,9709.102,28857.845,16447.085,21200.718,31019.495
13,2017-01-01,Idaho ..............................,NaN,7247.168,13488.112,5833.099,15454.691,22601.024
14,2017-01-01,Illinois ...........................,NaN,13970.568,45045.503,32491.354,25088.968,28617.761
15,2017-01-01,Indiana .............................,NaN,9038.218,43763.797,32338.452,19296.967,28804.778
16,2017-01-01,Iowa ...............................,NaN,8766.345,37380.157,27990.818,18426.29,26213.548
17,2017-01-01,Kansas ..............................,NaN,8736.582,30239.532,21316.023,17963.456,22614.535
18,2017-01-01,Kentucky ...........................,NaN,10365.092,35948.377,26719.394,20744.685,24632.451
19,2017-01-01,Louisiana ..........................,NaN,9164.635,49452.087,36715.343,18835.494,21631.871
20,2017-01-01,Maine ...............................,NaN,9664.274,49994.252,37043.316,19499.857,26939.480
21,2017-01-01,Maryland ...........................,NaN,9289.407,55685.127,41858.895,21177.37,24352.940
22,2017-01-01,Massachusetts ......................,NaN,12778.473,59558.947,44384.256,25229.365,29774.061
23,2017-01-01,Michigan ..........................,NaN,12434.584,36664.314,26964.257,22664.874,37599.841
24,2017-01-01,Minnesota ...........................,NaN,11225.877,42715.902,32415.888,20419.721,20736.247
25,2017-01-01,Mississippi ........................,NaN,7979.736,25773.911,17624.781,17718.402,19690.827
26,2017-01-01,Missouri .........................,NaN,8386.832,34622.858,24614.729,18106.068,19519.115
27,2017-01-01,Montana ...........................,NaN,6782.557,33739,24953.328,15800.475,23678.430
28,2017-01-01,Nebraska ..........................,NaN,8188.293,34598.313,23659.302,18448.79,20554.771
29,2017-01-01,Nevada .............................,NaN,5920.499,36162.844,23261.145,16810.274,21175.847
30,2017-01-01,New Hampshire .....................,NaN,15948.794,47030.429,33321.787,27569.748,28129.793
31,2017-01-01,New Jersey ........................,NaN,13633.360,50321.163,36589.069,26541.709,28649.209
32,2017-01-01,New Mexico ........................,NaN,6717.642,33620.13,23865.245,15802.892,17532.760
33,2017-01-01,New York ..........................,NaN,7938.103,53659.49,39006.547,22343.39,21661.765
34,2017-01-01,North Carolina ...................,NaN,7354.183,44050.059,32140.198,17342.85,24274.275
35,2017-01-01,North Dakota ......................,NaN,7687.283,22511.142,15256.062,15997.91,19020.702
36,2017-01-01,Ohio ..............................,NaN,10025.679,42254.152,31241.865,21674.171,24098.104
37,2017-01-01,Oklahoma ..........................,NaN,7622.557,35542.301,26240.35,16263.442,20200.127
38,2017-01-01,Oregon ............................,NaN,10362.925,50617.451,38674.258,22709.795,30486.548
39,2017-01-01,Pennsylvania .....................,NaN,14534.294,53239.241,40068.373,25795.143,27129.472
40,2017-01-01,Rhode Island .....................,NaN,12238.800,54876.793,40360.711,24279.521,29012.976
41,2017-01-01,South Carolina ....................,NaN,12579.044,34421.421,24931.485,22131.916,30918.906
42,2017-01-01,South Dakota .....................,NaN,8539.815,32156.845,24218.77,16420.825,12060.074
43,2017-01-01,Tennessee ........................,NaN,9574.426,37162.05,26938.99,18950.707,25378.340
44,2017-01-01,Texas ............................,NaN,8645.247,43865.995,32481.747,18271.394,24936.915
45,2017-01-01,Utah ..............................,NaN,6556.917,15389.01,7548.421,14174.17,20167.626
46,2017-01-01,Vermont ...........................,NaN,16103.349,56172.143,42636.611,27781.881,38967.841
47,2017-01-01,Virginia ..........................,NaN,12637.120,33658.309,23014.487,23426.934,33427.640
48,2017-01-01,Washington ........................,NaN,6830.454,48518.085,36806.901,18322.527,28263.194
49,2017-01-01,West Virginia .....................,NaN,7619.235,21299.934,12340.953,17803.035,21031.784
50,2017-01-01,Wisconsin .........................,NaN,8475.015,43331.967,33156.1,16543.924,23499.662
51,2017-01-01,Wyoming ...........................,NaN,4443.000,†,†,14485.524,13731.000
0,2016-01-01,United States ..................,NaN,8804.074,41467.869,29478.041,19487.672,24854.390
1,2016-01-01,Alabama ...........................,NaN,9466.105,24709.536,15421.537,19052.005,23999.508
2,2016-01-01,Alaska ............................,NaN,7210.342,26131.55,18876.363,17370.129,21431.489
3,2016-01-01,Arizona ............................,NaN,10056.575,22558.535,13139.738,21490.559,25061.481
4,2016-01-01,Arkansas ...........................,NaN,7924.042,29803.687,21709.817,16871.207,19322.961
5,2016-01-01,California .........................,NaN,7896.422,44721.64,31495.075,21355.599,28253.183
6,2016-01-01,Colorado ...........................,NaN,9351.817,34337.203,22626.722,20942.738,28986.059
7,2016-01-01,Connecticut .........................,NaN,11725.532,53197.661,38975.012,24173.612,32835.689
8,2016-01-01,Delaware ............................,NaN,9577.742,25996.089,14383.363,21698.361,28497.097
9,2016-01-01,District of Columbia ................,NaN,5612.000,55669.204,40617.775,†,11756.000
10,2016-01-01,Florida ............................,NaN,4434.706,35875.926,24360.449,14805.807,18303.643
11,2016-01-01,Georgia .............................,NaN,7009.689,39117.666,27220.364,17352.569,21376.965
12,2016-01-01,Hawaii ...............................,NaN,9712.465,28392.907,15949.444,21015.982,30928.795
13,2016-01-01,Idaho ..............................,NaN,7005.235,13009.634,5925.004,14457.186,21370.325
14,2016-01-01,Illinois ...........................,NaN,13636.006,43381.76,31298.189,24541.392,28166.727
15,2016-01-01,Indiana .............................,NaN,8876.382,41847.422,30925.909,19000.613,28314.757
16,2016-01-01,Iowa ...............................,NaN,8361.350,35780.462,26741.888,17604.073,24911.738
17,2016-01-01,Kansas ..............................,NaN,8488.796,28745.763,20290.957,17560.468,21999.961
18,2016-01-01,Kentucky ...........................,NaN,10014.159,34893.454,25844.529,19673.15,23538.923
19,2016-01-01,Louisiana ..........................,NaN,8813.440,47558.506,35189.502,18319.417,22770.656
20,2016-01-01,Maine ...............................,NaN,9219.065,48107.236,35546.83,19072.961,26003.709
21,2016-01-01,Maryland ...........................,NaN,9082.945,53774.882,40209.201,20647.225,22436.910
22,2016-01-01,Massachusetts ......................,NaN,12330.958,57362.757,42654.948,24473.225,28739.952
23,2016-01-01,Michigan ..........................,NaN,11889.638,33498.1,24058.287,21831.591,36713.682
24,2016-01-01,Minnesota ...........................,NaN,10883.163,40938.845,30924.666,19726.712,19087.569
25,2016-01-01,Mississippi ........................,NaN,7471.509,24697.686,16948.964,16843.245,19137.870
26,2016-01-01,Missouri .........................,NaN,8176.400,33433.186,23701.69,17639.098,18940.341
27,2016-01-01,Montana ...........................,NaN,6502.937,32375.368,23657.273,15241.219,22956.126
28,2016-01-01,Nebraska ..........................,NaN,7732.093,32199.896,23109.069,17379.019,19482.904
29,2016-01-01,Nevada .............................,NaN,5520.288,35053.31,21423.136,17145.258,20671.516
30,2016-01-01,New Hampshire .....................,NaN,15491.460,46532.952,33234.525,26968.075,27200.529
31,2016-01-01,New Jersey ........................,NaN,13296.686,48438.586,35223.836,26070.044,28051.217
32,2016-01-01,New Mexico ........................,NaN,6824.643,32372.745,22535.096,15528.242,17271.571
33,2016-01-01,New York ..........................,NaN,7708.829,51790.45,37580.361,21750.33,21453.636
34,2016-01-01,North Carolina ...................,NaN,7218.492,42312.201,30701.204,16635.023,23777.653
35,2016-01-01,North Dakota ......................,NaN,7376.285,20963.653,14289.563,15387.768,18288.050
36,2016-01-01,Ohio ..............................,NaN,9827.303,40980.263,30295.748,20960.782,23433.915
37,2016-01-01,Oklahoma ..........................,NaN,7218.774,33883.384,24775.853,15754.498,19174.447
38,2016-01-01,Oregon ............................,NaN,9738.905,48702.672,37088.213,21323.633,29329.911
39,2016-01-01,Pennsylvania .....................,NaN,14067.739,52131.781,39185.117,25331.495,26327.727
40,2016-01-01,Rhode Island .....................,NaN,11385.883,52873.593,38855.344,23134.991,27815.116
41,2016-01-01,South Carolina ....................,NaN,12152.893,33747.701,24523.095,21508.294,29888.293
42,2016-01-01,South Dakota .....................,NaN,8301.319,30925.668,23147.121,16054.4,11845.225
43,2016-01-01,Tennessee ........................,NaN,9286.937,35928.503,25984.598,18340.305,24802.079
44,2016-01-01,Texas ............................,NaN,8375.349,41978.523,31008.702,17799.057,23511.118
45,2016-01-01,Utah ..............................,NaN,6333.570,15211.745,7445.358,13709.235,19407.243
46,2016-01-01,Vermont ...........................,NaN,15537.442,54002.771,41063.123,26786.332,37991.117
47,2016-01-01,Virginia ..........................,NaN,12125.664,32616.215,22285.922,22567.261,32249.684
48,2016-01-01,Washington ........................,NaN,6903.181,46746.186,35288.114,18053.275,28127.968
49,2016-01-01,West Virginia .....................,NaN,7241.115,20897.733,12206.107,17095.629,20029.517
50,2016-01-01,Wisconsin .........................,NaN,8418.543,41503.241,31662.147,16245.843,22574.336
51,2016-01-01,Wyoming ...........................,NaN,4311.000,†,18021.0,14353.523,13239.000
0,2000-01-01,United States ..................,8653,3501.000,21856,15470,NaN,NaN
1,2000-01-01,Alabama ...........................,7349,2987.000,14136,9334,NaN,NaN
2,2000-01-01,Alaska ............................,8390,2941.000,14656,9381,NaN,NaN
3,2000-01-01,Arizona ............................,7874,2346.000,15109,9322,NaN,NaN
4,2000-01-01,Arkansas ...........................,6797,3011.000,13377,9109,NaN,NaN
5,2000-01-01,California .........................,9590,2566.000,24679,17219,NaN,NaN
6,2000-01-01,Colorado ...........................,8362,2980.000,23129,15445,NaN,NaN
7,2000-01-01,Connecticut .........................,10521,4553.000,27737,20056,NaN,NaN
8,2000-01-01,Delaware ............................,10283,4789.000,13936,8415,NaN,NaN
9,2000-01-01,District of Columbia ................,†,2070.000,26933,19186,NaN,NaN
10,2000-01-01,Florida ............................,7947,2366.000,19870,13805,NaN,NaN
11,2000-01-01,Georgia .............................,7463,2699.000,19951,13770,NaN,NaN
12,2000-01-01,Hawaii ...............................,8272,2968.000,16078,8000,NaN,NaN
13,2000-01-01,Idaho ..............................,6765,2628.000,17793,13664,NaN,NaN
14,2000-01-01,Illinois ...........................,9532,4178.000,21784,15317,NaN,NaN
15,2000-01-01,Indiana..............................,9239,3786.000,21378,16078,NaN,NaN
16,2000-01-01,Iowa ...............................,7587,3157.000,19414,14630,NaN,NaN
17,2000-01-01,Kansas ..............................,6654,2642.000,15670,11206,NaN,NaN
18,2000-01-01,Kentucky ...........................,6923,2898.000,14644,10176,NaN,NaN
19,2000-01-01,Louisiana ..........................,6329,2783.000,21937,15591,NaN,NaN
20,2000-01-01,Maine ...............................,9371,4267.000,22690,16450,NaN,NaN
21,2000-01-01,Maryland ...........................,10834,4772.000,25670,18621,NaN,NaN
22,2000-01-01,Massachusetts ......................,9207,4003.000,28666,20566,NaN,NaN
23,2000-01-01,Michigan ..........................,9825,4615.000,16011,11155,NaN,NaN
24,2000-01-01,Minnesota ...........................,8127,4009.000,21332,16243,NaN,NaN
25,2000-01-01,Mississippi ........................,7195,2969.000,13767,9659,NaN,NaN
26,2000-01-01,Missouri..........................,8203,3879.000,17886,12600,NaN,NaN
27,2000-01-01,Montana ...........................,7615,3079.000,14454,9631,NaN,NaN
28,2000-01-01,Nebraska ..........................,7355,3101.000,16093,11619,NaN,NaN
29,2000-01-01,Nevada .............................,8247,2344.000,17835,11465,NaN,NaN
30,2000-01-01,New Hampshire .....................,11720,6458.000,25184,18261,NaN,NaN
31,2000-01-01,New Jersey ........................,12007,5609.000,23738,16680,NaN,NaN
32,2000-01-01,New Mexico ........................,7086,2627.000,19011,14062,NaN,NaN
33,2000-01-01,New York ..........................,10260,4063.000,25178,17433,NaN,NaN
34,2000-01-01,North Carolina ...................,7076,2298.000,20185,14274,NaN,NaN
35,2000-01-01,North Dakota ......................,6418,2942.000,11399,8026,NaN,NaN
36,2000-01-01,Ohio ..............................,10451,4742.000,20983,15419,NaN,NaN
37,2000-01-01,Oklahoma ..........................,6022,2259.000,15307,10587,NaN,NaN
38,2000-01-01,Oregon ............................,9394,3646.000,23123,17533,NaN,NaN
39,2000-01-01,Pennsylvania .....................,11091,5917.000,24737,17821,NaN,NaN
40,2000-01-01,Rhode Island .....................,11095,4506.000,26073,18320,NaN,NaN
41,2000-01-01,South Carolina ....................,9096,4701.000,17518,12713,NaN,NaN
42,2000-01-01,South Dakota .....................,6975,3484.000,15335,11194,NaN,NaN
43,2000-01-01,Tennessee ........................,7658,2950.000,18128,12922,NaN,NaN
44,2000-01-01,Texas ............................,7614,2785.000,16890,11865,NaN,NaN
45,2000-01-01,Utah ..............................,6598,2226.000,8600,3754,NaN,NaN
46,2000-01-01,Vermont ...........................,12847,7142.000,22454,15740,NaN,NaN
47,2000-01-01,Virginia ..........................,8751,3723.000,18499,13118,NaN,NaN
48,2000-01-01,Washington ........................,8909,3600.000,21505,15874,NaN,NaN
49,2000-01-01,West Virginia......................,7290,2551.000,18285,12999,NaN,NaN
50,2000-01-01,Wisconsin .........................,7396,3417.000,20317,15032,NaN,NaN
51,2000-01-01,Wyoming ...........................,7017,2575.000,†,†,NaN,NaN
0,2020-01-01,United States,NaN,9374.520,46312.51,32825.3,21337.37,27090.840
1,2020-01-01,Alabama,NaN,10616.860,27966.09,17353.56,20992.79,27004.540
2,2020-01-01,Alaska,NaN,8849.200,28361.63,19574.68,22185.45,25535.400
3,2020-01-01,Arizona,NaN,11409.740,22862.16,13108.34,24681.26,25426.110
4,2020-01-01,Arkansas,NaN,8467.880,33613.93,24997.8,18261.7,21597.510

In [86]:
pd.set_option('display.max_rows', None)