In [1]:
import pandas as pd

In [2]:
#Load the data
df = pd.read_csv('raw_data/Underemployment.csv')
df.head(10)

,year,all,women_b_degree,men_b_degree,less_than_hs,hign_school,some_college,bachelor_degree,advanced_degree,women,men
0,1989,0.090,0.050,0.040,0.180,0.100,0.070,0.050,0.030,0.100,0.090
1,1990,0.094,0.050,0.040,0.188,0.102,0.074,0.048,0.030,0.100,0.090
2,1991,0.111,0.058,0.052,0.216,0.119,0.088,0.055,0.038,0.114,0.109
3,1992,0.126,0.069,0.060,0.239,0.137,0.104,0.062,0.042,0.127,0.125
4,1993,0.127,0.070,0.060,0.245,0.139,0.105,0.067,0.040,0.130,0.122
5,1994,0.116,0.061,0.053,0.238,0.127,0.096,0.060,0.040,0.121,0.113
6,1995,0.103,0.060,0.050,0.222,0.112,0.084,0.052,0.040,0.110,0.100
7,1996,0.100,0.058,0.050,0.218,0.110,0.080,0.050,0.040,0.107,0.098
8,1997,0.095,0.050,0.041,0.207,0.103,0.076,0.046,0.039,0.100,0.090
9,1998,0.085,0.042,0.038,0.188,0.094,0.070,0.040,0.030,0.091,0.080

In [3]:
df.dtypes

year                 int64
all                float64
women_b_degree     float64
men_b_degree       float64
less_than_hs       float64
hign_school        float64
some_college       float64
bachelor_degree    float64
advanced_degree    float64
women              float64
men                float64
dtype: object

In [5]:
#Change the names
df = df.rename(columns={"hign_school":"high_school"})

In [7]:
df

,year,all,women_b_degree,men_b_degree,less_than_hs,high_school,some_college,bachelor_degree,advanced_degree,women,men
0,1989,0.090,0.050,0.040,0.180,0.100,0.070,0.050,0.030,0.100,0.090
1,1990,0.094,0.050,0.040,0.188,0.102,0.074,0.048,0.030,0.100,0.090
2,1991,0.111,0.058,0.052,0.216,0.119,0.088,0.055,0.038,0.114,0.109
3,1992,0.126,0.069,0.060,0.239,0.137,0.104,0.062,0.042,0.127,0.125
4,1993,0.127,0.070,0.060,0.245,0.139,0.105,0.067,0.040,0.130,0.122
5,1994,0.116,0.061,0.053,0.238,0.127,0.096,0.060,0.040,0.121,0.113
6,1995,0.103,0.060,0.050,0.222,0.112,0.084,0.052,0.040,0.110,0.100
7,1996,0.100,0.058,0.050,0.218,0.110,0.080,0.050,0.040,0.107,0.098
8,1997,0.095,0.050,0.041,0.207,0.103,0.076,0.046,0.039,0.100,0.090
9,1998,0.085,0.042,0.038,0.188,0.094,0.070,0.040,0.030,0.091,0.080
10,1999,0.080,0.040,0.032,0.175,0.088,0.060,0.040,0.030,0.082,0.073
11,2000,0.070,0.040,0.032,0.162,0.080,0.060,0.038,0.030,0.079,0.070
12,2001,0.073,0.041,0.034,0.168,0.083,0.061,0.038,0.030,0.079,0.073
13,2002,0.093,0.050,0.050,0.193,0.106,0.077,0.050,0.038,0.095,0.093
14,2003,0.100,0.057,0.058,0.204,0.112,0.088,0.058,0.040,0.100,0.100
15,2004,0.100,0.060,0.058,0.206,0.113,0.089,0.059,0.040,0.100,0.100
16,2005,0.093,0.052,0.050,0.198,0.108,0.080,0.050,0.040,0.094,0.092
17,2006,0.088,0.050,0.042,0.182,0.100,0.078,0.049,0.032,0.090,0.083
18,2007,0.080,0.050,0.040,0.178,0.100,0.070,0.042,0.030,0.081,0.080
19,2008,0.094,0.052,0.045,0.202,0.114,0.082,0.051,0.034,0.092,0.096
20,2009,0.140,0.079,0.078,0.289,0.173,0.128,0.078,0.054,0.131,0.149
21,2010,0.170,0.100,0.100,0.334,0.210,0.160,0.100,0.063,0.159,0.180
22,2011,0.168,0.100,0.092,0.328,0.208,0.160,0.098,0.060,0.160,0.171
23,2012,0.156,0.098,0.086,0.306,0.192,0.150,0.090,0.060,0.157,0.155
24,2013,0.146,0.090,0.080,0.291,0.180,0.140,0.087,0.060,0.148,0.143
25,2014,0.132,0.084,0.073,0.256,0.164,0.129,0.078,0.054,0.134,0.128
26,2015,0.114,0.074,0.063,0.225,0.146,0.112,0.068,0.049,0.116,0.112
27,2016,0.101,0.063,0.053,0.197,0.133,0.098,0.060,0.040,0.103,0.100
28,2017,0.093,0.060,0.051,0.185,0.122,0.088,0.057,0.040,0.094,0.091
29,2018,0.081,0.052,0.050,0.159,0.107,0.080,0.050,0.040,0.083,0.080
30,2019,0.077,0.050,0.050,0.150,0.100,0.073,0.050,0.040,0.078,0.073
31,2020,0.106,0.080,0.069,0.188,0.136,0.109,0.075,0.055,0.108,0.102

In [9]:
cols = ["all", "women_b_degree", "men_b_degree", "less_than_hs", "high_school", "some_college", "bachelor_degree", "advanced_degree", "women", "men"]
df[cols] = df[cols].apply(lambda x: round(x * 100, 2))
df

,year,all,women_b_degree,men_b_degree,less_than_hs,high_school,some_college,bachelor_degree,advanced_degree,women,men
0,1989,9.0,5.0,4.0,18.0,10.0,7.0,5.0,3.0,10.0,9.0
1,1990,9.4,5.0,4.0,18.8,10.2,7.4,4.8,3.0,10.0,9.0
2,1991,11.1,5.8,5.2,21.6,11.9,8.8,5.5,3.8,11.4,10.9
3,1992,12.6,6.9,6.0,23.9,13.7,10.4,6.2,4.2,12.7,12.5
4,1993,12.7,7.0,6.0,24.5,13.9,10.5,6.7,4.0,13.0,12.2
5,1994,11.6,6.1,5.3,23.8,12.7,9.6,6.0,4.0,12.1,11.3
6,1995,10.3,6.0,5.0,22.2,11.2,8.4,5.2,4.0,11.0,10.0
7,1996,10.0,5.8,5.0,21.8,11.0,8.0,5.0,4.0,10.7,9.8
8,1997,9.5,5.0,4.1,20.7,10.3,7.6,4.6,3.9,10.0,9.0
9,1998,8.5,4.2,3.8,18.8,9.4,7.0,4.0,3.0,9.1,8.0
10,1999,8.0,4.0,3.2,17.5,8.8,6.0,4.0,3.0,8.2,7.3
11,2000,7.0,4.0,3.2,16.2,8.0,6.0,3.8,3.0,7.9,7.0
12,2001,7.3,4.1,3.4,16.8,8.3,6.1,3.8,3.0,7.9,7.3
13,2002,9.3,5.0,5.0,19.3,10.6,7.7,5.0,3.8,9.5,9.3
14,2003,10.0,5.7,5.8,20.4,11.2,8.8,5.8,4.0,10.0,10.0
15,2004,10.0,6.0,5.8,20.6,11.3,8.9,5.9,4.0,10.0,10.0
16,2005,9.3,5.2,5.0,19.8,10.8,8.0,5.0,4.0,9.4,9.2
17,2006,8.8,5.0,4.2,18.2,10.0,7.8,4.9,3.2,9.0,8.3
18,2007,8.0,5.0,4.0,17.8,10.0,7.0,4.2,3.0,8.1,8.0
19,2008,9.4,5.2,4.5,20.2,11.4,8.2,5.1,3.4,9.2,9.6
20,2009,14.0,7.9,7.8,28.9,17.3,12.8,7.8,5.4,13.1,14.9
21,2010,17.0,10.0,10.0,33.4,21.0,16.0,10.0,6.3,15.9,18.0
22,2011,16.8,10.0,9.2,32.8,20.8,16.0,9.8,6.0,16.0,17.1
23,2012,15.6,9.8,8.6,30.6,19.2,15.0,9.0,6.0,15.7,15.5
24,2013,14.6,9.0,8.0,29.1,18.0,14.0,8.7,6.0,14.8,14.3
25,2014,13.2,8.4,7.3,25.6,16.4,12.9,7.8,5.4,13.4,12.8
26,2015,11.4,7.4,6.3,22.5,14.6,11.2,6.8,4.9,11.6,11.2
27,2016,10.1,6.3,5.3,19.7,13.3,9.8,6.0,4.0,10.3,10.0
28,2017,9.3,6.0,5.1,18.5,12.2,8.8,5.7,4.0,9.4,9.1
29,2018,8.1,5.2,5.0,15.9,10.7,8.0,5.0,4.0,8.3,8.0
30,2019,7.7,5.0,5.0,15.0,10.0,7.3,5.0,4.0,7.8,7.3
31,2020,10.6,8.0,6.9,18.8,13.6,10.9,7.5,5.5,10.8,10.2

In [11]:
#Output clean data
df.to_csv('new_data/Underemployment.csv',index=False)