In [1]:
import pandas as pd

In [20]:
df1= pd.read_csv("data_1.csv", header=None)
df1

                                                    0
0   Date,"Bottom 90% average annual wages","90-95t...
1   2021,"$36,571.00","$129,724.00","$215,032.00",...
2   2020,"$36,660.00","$132,401.00","$215,771.00",...
3   2019,"$36,655.00","$129,259.00","$209,137.00",...
4   2018,"$35,941.00","$127,211.00","$204,983.00",...
..                                                ...
67  1955,"$20,811.00","$48,994.00","$66,984.00","$...
68  1954,"$19,899.00","$46,484.00","$64,833.00","$...
69  1953,"$19,848.00","$46,535.00","$63,017.00","$...
70  1952,"$18,623.00","$44,022.00","$60,186.00","$...
71  1951,"$17,886.00","$42,957.00","$58,678.00","$...

[72 rows x 1 columns]

In [21]:
df1.columns

Int64Index([0], dtype='int64')

In [27]:
def split_into_cols(x):
    return x.split(',')
    
df = pd.DataFrame(df1[0].apply(split_into_cols).to_list())
df.columns = df.iloc[0]
df.drop([0], inplace=True)

In [31]:
df.columns

Index([                              'Date',
        '"Bottom 90% average annual wages"',
           '"90-95th average annual wages"',
         '"95th-99th average annual wages"',
         '"90th-99th average annual wages"',
            '"top 5% average annual wages"',
       '"99th-99.9th average annual wages"',
        '"Upper 0.1% average annual wages"',
        '"99th-100th average annual wages"',
                                       None,
                                       None,
                                       None,
                                       None,
                                       None,
                                       None,
                                       None,
                                       None,
                                       None],
      dtype='object', name=0)

In [35]:
df.iloc[:,:9].to_csv("wages_top_bottom.csv",index=False )