In [30]:
import pandas as pd
import re

In [31]:
df1= pd.read_csv("data_1.csv", header=None,sep=",")
df1

                                                    0
0   Date,"Bottom 90% average annual wages","90-95t...
1   2021,"$36,571.00","$129,724.00","$215,032.00",...
2   2020,"$36,660.00","$132,401.00","$215,771.00",...
3   2019,"$36,655.00","$129,259.00","$209,137.00",...
4   2018,"$35,941.00","$127,211.00","$204,983.00",...
..                                                ...
67  1955,"$20,811.00","$48,994.00","$66,984.00","$...
68  1954,"$19,899.00","$46,484.00","$64,833.00","$...
69  1953,"$19,848.00","$46,535.00","$63,017.00","$...
70  1952,"$18,623.00","$44,022.00","$60,186.00","$...
71  1951,"$17,886.00","$42,957.00","$58,678.00","$...

[72 rows x 1 columns]

In [32]:
df1.columns

Int64Index([0], dtype='int64')

In [33]:
def split_into_cols(x):
    return re.split(r',(?=")', x)
    


df = pd.DataFrame(df1[0].apply(split_into_cols).to_list())
df.columns = df.iloc[0]
df.drop([0], inplace=True)

In [34]:
df.columns

Index(['Date', '"Bottom 90% average annual wages"',
       '"90-95th average annual wages"', '"95th-99th average annual wages"',
       '"90th-99th average annual wages"', '"top 5% average annual wages"',
       '"99th-99.9th average annual wages"',
       '"Upper 0.1% average annual wages"',
       '"99th-100th average annual wages"'],
      dtype='object', name=0)

In [35]:
df.head()

,Date,"""Bottom 90% average annual wages""","""90-95th average annual wages""","""95th-99th average annual wages""","""90th-99th average annual wages""","""top 5% average annual wages""","""99th-99.9th average annual wages""","""Upper 0.1% average annual wages""","""99th-100th average annual wages"""
1,2021,"""$36,571.00""","""$129,724.00""","""$215,032.00""","""$167,639.00""","""$335,891.00""","""$542,283.00""","""$3,312,693.00""","""$819,324.00"""
2,2020,"""$36,660.00""","""$132,401.00""","""$215,771.00""","""$169,455.00""","""$322,349.00""","""$521,225.00""","""$2,795,589.00""","""$748,662.00"""
3,2019,"""$36,655.00""","""$129,259.00""","""$209,137.00""","""$164,760.00""","""$308,487.00""","""$499,389.00""","""$2,564,364.00""","""$705,887.00"""
4,2018,"""$35,941.00""","""$127,211.00""","""$204,983.00""","""$161,776.00""","""$304,057.00""","""$495,401.00""","""$2,544,919.00""","""$700,352.00"""
5,2017,"""$35,480.00""","""$125,950.00""","""$202,686.00""","""$160,055.00""","""$302,129.00""","""$492,701.00""","""$2,564,735.00""","""$699,904.00"""

In [36]:
df2=df.applymap(lambda x: float(x.replace(',','').replace("\"","").replace("$","")))
df2

,Date,"""Bottom 90% average annual wages""","""90-95th average annual wages""","""95th-99th average annual wages""","""90th-99th average annual wages""","""top 5% average annual wages""","""99th-99.9th average annual wages""","""Upper 0.1% average annual wages""","""99th-100th average annual wages"""
1,2021.0,36571.0,129724.0,215032.0,167639.0,335891.0,542283.0,3312693.0,819324.0
2,2020.0,36660.0,132401.0,215771.0,169455.0,322349.0,521225.0,2795589.0,748662.0
3,2019.0,36655.0,129259.0,209137.0,164760.0,308487.0,499389.0,2564364.0,705887.0
4,2018.0,35941.0,127211.0,204983.0,161776.0,304057.0,495401.0,2544919.0,700352.0
5,2017.0,35480.0,125950.0,202686.0,160055.0,302129.0,492701.0,2564735.0,699904.0
...,...,...,...,...,...,...,...,...,...
67,1955.0,20811.0,48994.0,66984.0,56990.0,86761.0,138930.0,408285.0,165866.0
68,1954.0,19899.0,46484.0,64833.0,54639.0,84161.0,138638.0,366982.0,161472.0
69,1953.0,19848.0,46535.0,63017.0,53860.0,81922.0,131958.0,387794.0,157541.0
70,1952.0,18623.0,44022.0,60186.0,51206.0,79790.0,129926.0,412707.0,158204.0
71,1951.0,17886.0,42957.0,58678.0,49944.0,77942.0,125474.0,420708.0,154998.0

In [37]:
new_columns=["year","bottom_90_avg ","90-95_avg ","95-99_avg","90-99_avg","top_5p_avg","99-99-9_avg","upper_0-1_avg","99-100_avg"]
df3 = df2.set_axis(new_columns, axis=1, inplace=False)
df3.head()

,year,bottom_90_avg,90-95_avg,95-99_avg,90-99_avg,top_5p_avg,99-99-9_avg,upper_0-1_avg,99-100_avg
1,2021.0,36571.0,129724.0,215032.0,167639.0,335891.0,542283.0,3312693.0,819324.0
2,2020.0,36660.0,132401.0,215771.0,169455.0,322349.0,521225.0,2795589.0,748662.0
3,2019.0,36655.0,129259.0,209137.0,164760.0,308487.0,499389.0,2564364.0,705887.0
4,2018.0,35941.0,127211.0,204983.0,161776.0,304057.0,495401.0,2544919.0,700352.0
5,2017.0,35480.0,125950.0,202686.0,160055.0,302129.0,492701.0,2564735.0,699904.0

In [39]:
df3['year'] = df3['year'].astype(int)

In [40]:
df3.head()

,year,bottom_90_avg,90-95_avg,95-99_avg,90-99_avg,top_5p_avg,99-99-9_avg,upper_0-1_avg,99-100_avg
1,2021,36571.0,129724.0,215032.0,167639.0,335891.0,542283.0,3312693.0,819324.0
2,2020,36660.0,132401.0,215771.0,169455.0,322349.0,521225.0,2795589.0,748662.0
3,2019,36655.0,129259.0,209137.0,164760.0,308487.0,499389.0,2564364.0,705887.0
4,2018,35941.0,127211.0,204983.0,161776.0,304057.0,495401.0,2544919.0,700352.0
5,2017,35480.0,125950.0,202686.0,160055.0,302129.0,492701.0,2564735.0,699904.0

In [41]:
df3=round(df3.groupby("year").mean().astype(float),3)

In [42]:
#Value sort by year
df3.sort_values("year",ascending=False)

,bottom_90_avg,90-95_avg,95-99_avg,90-99_avg,top_5p_avg,99-99-9_avg,upper_0-1_avg,99-100_avg
year,,,,,,,,
2021,36571.0,129724.0,215032.0,167639.0,335891.0,542283.0,3312693.0,819324.0
2020,36660.0,132401.0,215771.0,169455.0,322349.0,521225.0,2795589.0,748662.0
2019,36655.0,129259.0,209137.0,164760.0,308487.0,499389.0,2564364.0,705887.0
2018,35941.0,127211.0,204983.0,161776.0,304057.0,495401.0,2544919.0,700352.0
2017,35480.0,125950.0,202686.0,160055.0,302129.0,492701.0,2564735.0,699904.0
...,...,...,...,...,...,...,...,...
1955,20811.0,48994.0,66984.0,56990.0,86761.0,138930.0,408285.0,165866.0
1954,19899.0,46484.0,64833.0,54639.0,84161.0,138638.0,366982.0,161472.0
1953,19848.0,46535.0,63017.0,53860.0,81922.0,131958.0,387794.0,157541.0
1952,18623.0,44022.0,60186.0,51206.0,79790.0,129926.0,412707.0,158204.0
1951,17886.0,42957.0,58678.0,49944.0,77942.0,125474.0,420708.0,154998.0

In [43]:
df3.to_csv("Wages_Top_Bottom.csv")