In [57]:
import pandas as pd
import os

In [36]:
df = pd.read_excel('1993-1994-1995.xls')
df

,Unnamed: 0,|,"Public 4-year,",Unnamed: 3,Unnamed: 4,|.1,"Public 4-year, 1995-96",Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,|.4,"Public 2-year,",Unnamed: 27,Unnamed: 28
0,NaN,|,1994-95,NaN,NaN,|,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,|,tuition only,NaN,NaN
1,State,|,_,_,_,|,_,_,_,_,...,_,_,_,_,_,_,|,(in-state),NaN,NaN
2,NaN,|,NaN,|,Tuition,|,NaN,|,Tuition,|,...,|,NaN,|,NaN,|,NaN,|,NaN,NaN,NaN
3,NaN,|,NaN,|,(in-,|,NaN,|,(in-,|,...,|,NaN,|,NaN,|,,|,_,_,_
4,NaN,|,Total,|,state),|,Total,|,state),|,...,|,Tuition,|,Room,|,Board,|,1994-95,|,1995-96\1\
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,"SOURCE: U.S. Department of Education, Nationa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,"""Fall Enrollment"" and ""Institutional Character...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#add year column
df.insert(0, "Year", "1994")
df.head()

,Year,Unnamed: 0,|,"Public 4-year,",Unnamed: 3,Unnamed: 4,|.1,"Public 4-year, 1995-96",Unnamed: 7,Unnamed: 8,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,|.4,"Public 2-year,",Unnamed: 27,Unnamed: 28
0,1994,NaN,|,1994-95,NaN,NaN,|,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,|,tuition only,NaN,NaN
1,1994,State,|,_,_,_,|,_,_,_,...,_,_,_,_,_,_,|,(in-state),NaN,NaN
2,1994,NaN,|,NaN,|,Tuition,|,NaN,|,Tuition,...,|,NaN,|,NaN,|,NaN,|,NaN,NaN,NaN
3,1994,NaN,|,NaN,|,(in-,|,NaN,|,(in-,...,|,NaN,|,NaN,|,,|,_,_,_
4,1994,NaN,|,Total,|,state),|,Total,|,state),...,|,Tuition,|,Room,|,Board,|,1994-95,|,1995-96\1\

In [44]:
df.columns = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30']
df

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
0,1994,NaN,|,1994-95,NaN,NaN,|,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,|,tuition only,NaN,NaN
1,1994,State,|,_,_,_,|,_,_,_,...,_,_,_,_,_,_,|,(in-state),NaN,NaN
2,1994,NaN,|,NaN,|,Tuition,|,NaN,|,Tuition,...,|,NaN,|,NaN,|,NaN,|,NaN,NaN,NaN
3,1994,NaN,|,NaN,|,(in-,|,NaN,|,(in-,...,|,NaN,|,NaN,|,,|,_,_,_
4,1994,NaN,|,Total,|,state),|,Total,|,state),...,|,Tuition,|,Room,|,Board,|,1994-95,|,1995-96\1\
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,1994,"SOURCE: U.S. Department of Education, Nationa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1994,"""Fall Enrollment"" and ""Institutional Character...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
pd.set_option('display.max_rows', None)
df

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
0,1994,NaN,|,1994-95,NaN,NaN,|,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,|,tuition only,NaN,NaN
1,1994,State,|,_,_,_,|,_,_,_,...,_,_,_,_,_,_,|,(in-state),NaN,NaN
2,1994,NaN,|,NaN,|,Tuition,|,NaN,|,Tuition,...,|,NaN,|,NaN,|,NaN,|,NaN,NaN,NaN
3,1994,NaN,|,NaN,|,(in-,|,NaN,|,(in-,...,|,NaN,|,NaN,|,,|,_,_,_
4,1994,NaN,|,Total,|,state),|,Total,|,state),...,|,Tuition,|,Room,|,Board,|,1994-95,|,1995-96\1\
5,1994,_,|,_,|,_,|,_,|,_,...,|,_,|,_,|,_,|,_,|,_
6,1994,1,|,2,|,3,|,4,|,5,...,|,11,|,12,|,13,|,14,|,15
7,1994,_,|,_,|,_,|,_,|,_,...,|,_,|,_,|,_,|,_,|,_
8,1994,United States ..................,|,6670,|,2681,|,7013,|,2848,...,|,12239,|,2753,|,2622,|,1192.49,|,1244.95
9,1994,,|,_,|,_,|,_,|,_,...,|,_,|,_,|,_,|,_,|,_
10,1994,Alabama ...........................,|,5429,|,2107,|,5737,|,2240,...,|,7580,|,1799,|,2256,|,1131.9,|,1317.24
11,1994,Alaska ............................,|,6153,|,2039,|,6665,|,2489,...,|,8293,|,1879,|,2745,|,1320,|,2120
12,1994,Arizona ............................,|,5825,|,1894,|,5998,|,1926,...,|,6779,|,2012,|,2143,|,734.61,|,763.63
13,1994,Arkansas ...........................,|,4912,|,1954,|,5064,|,2028,...,|,6574,|,1488,|,2121,|,884.18,|,902.87
14,1994,California .........................,|,7924,|,2696,|,8213,|,2666,...,|,13977,|,3196,|,2970,|,364.72,|,362.02
15,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
16,1994,Colorado ...........................,|,6524,|,2380,|,7037,|,2473,...,|,11796,|,2574,|,2750,|,1282.44,|,1340.12
17,1994,Connecticut .........................,|,8491,|,3737,|,8753,|,3845,...,|,16646,|,3621,|,2744,|,1520,|,1646
18,1994,Delaware ............................,|,8118,|,3805,|,8489,|,3981,...,|,7373,|,2701,|,1443,|,1266,|,1266
19,1994,District of Columbia ................,|,---,|,1046,|,---,|,1118,...,|,14681,|,3917,|,2740,|,---,|,---
20,1994,Florida ............................,|,6201,|,1783,|,6254,|,1767,...,|,10364,|,2428,|,2236,|,1113.04,|,1102.98
21,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
22,1994,Georgia .............................,|,5382,|,1964,|,5691,|,2103,...,|,10208,|,2719,|,2267,|,1022.63,|,1062.02
23,1994,Hawaii ...............................,|,---,|,1504,|,---,|,1576,...,|,6234,|,3050,|,2347,|,499.96,|,523.96
24,1994,Idaho ..............................,|,5203,|,1581,|,5321,|,1682,...,|,11843,|,1430,|,2035,|,990.8,|,990.8
25,1994,Illinois ...........................,|,7498,|,3195,|,7829,|,3352,...,|,11653,|,2718,|,2306,|,1192.81,|,1231.99
26,1994,Indiana..............................,|,6920,|,2862,|,7392,|,3037,...,|,12592,|,1987,|,2250,|,1847.65,|,1936.91
27,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
28,1994,Iowa ...............................,|,5701,|,2462,|,5945,|,2565,...,|,11932,|,1864,|,2138,|,1699.76,|,1781.98
29,1994,Kansas ..............................,|,5441,|,2019,|,5691,|,2120,...,|,8634,|,1582,|,2183,|,1050.68,|,1146.61
30,1994,Kentucky ...........................,|,5327,|,2057,|,5455,|,2161,...,|,7497,|,1711,|,1985,|,1087.73,|,1111.98
31,1994,Louisiana ..........................,|,5268,|,2212,|,5491,|,2221,...,|,12449,|,2906,|,2440,|,1022.98,|,1030.82
32,1994,Maine ...............................,|,7763,|,3303,|,7966,|,3474,...,|,16204,|,2758,|,2910,|,2150.54,|,2381.02
33,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
34,1994,Maryland ...........................,|,8300,|,3321,|,8728,|,3572,...,|,14700,|,3524,|,3022,|,1842.55,|,1966.76
35,1994,Massachusetts ......................,|,8562,|,4148,|,8757,|,4253,...,|,16403,|,3688,|,3244,|,2437.01,|,2358.62
36,1994,Michigan ..........................,|,7948,|,3733,|,8195,|,3895,...,|,9176,|,1974,|,2182,|,1435.55,|,1528.72
37,1994,Minnesota ...........................,|,6203,|,2931,|,6712,|,3216,...,|,12897,|,2058,|,2267,|,1964.69,|,2065.15
38,1994,Mississippi ........................,|,5250,|,2446,|,5425,|,2459,...,|,6782,|,1582,|,1536,|,938.42,|,941.2
39,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
40,1994,Missouri..........................,|,6347,|,2797,|,6750,|,3015,...,|,9566,|,2162,|,2387,|,1204.29,|,1254.81
41,1994,Montana ...........................,|,6004,|,2109,|,7754,|,2367,...,|,7545,|,1388,|,2128,|,1375.68,|,1382.46
42,1994,Nebraska ..........................,|,5187,|,2058,|,5497,|,2182,...,|,9430,|,1801,|,2003,|,1101.53,|,1131.56
43,1994,Nevada .............................,|,6905,|,1601,|,7388,|,1684,...,|,7841,|,3050,|,---,|,843.35,|,969.97
44,1994,New Hampshire .....................,|,8181,|,4039,|,8729,|,4446,...,|,15038,|,3024,|,3009,|,2316.42,|,2419.73
45,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
46,1994,New Jersey ........................,|,8727,|,3776,|,9125,|,3972,...,|,13566,|,3226,|,2959,|,1754.43,|,1877.95
47,1994,New Mexico ........................,|,5365,|,1836,|,5298,|,1940,...,|,9784,|,2289,|,2282,|,675.03,|,690.25
48,1994,New York ..........................,|,7926,|,2944,|,8960,|,3714,...,|,13852,|,3724,|,3255,|,2151.24,|,2427.04
49,1994,North Carolina ...................,|,4857,|,1502,|,5119,|,1639,...,|,10984,|,2128,|,2316,|,582.34,|,581.27
50,1994,North Dakota ......................,|,5514,|,2248,|,5642,|,2248,...,|,6998,|,1260,|,1649,|,1688.86,|,1697.62
51,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
52,1994,Ohio ..............................,|,7732,|,3403,|,8169,|,3603,...,|,12377,|,2349,|,2414,|,2166.31,|,2260.74
53,1994,Oklahoma ..........................,|,4196,|,1672,|,4287,|,1839,...,|,7831,|,1803,|,2140,|,1149.46,|,1260.3
54,1994,Oregon ............................,|,6930,|,3064,|,7354,|,3233,...,|,13892,|,2257,|,2750,|,1321.68,|,1338.32
55,1994,Pennsylvania .....................,|,8672,|,4517,|,9124,|,4723,...,|,14111,|,2943,|,2822,|,1755.14,|,1908.82
56,1994,Rhode Island .....................,|,9067,|,3706,|,9446,|,3856,...,|,15390,|,3613,|,3072,|,1686,|,1726
57,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
58,1994,South Carolina ....................,|,6756,|,3020,|,6964,|,3094,...,|,9741,|,1786,|,1990,|,1047.79,|,1070.64
59,1994,South Dakota .....................,|,5271,|,2509,|,5619,|,2642,...,|,9123,|,1541,|,2374,|,3430,|,3430
60,1994,Tennessee ........................,|,5131,|,1897,|,5372,|,1990,...,|,9830,|,2153,|,2085,|,975.61,|,1022.32
61,1994,Texas ............................,|,5177,|,1606,|,5464,|,1820,...,|,8959,|,2000,|,2198,|,688.97,|,770.51
62,1994,Utah ..............................,|,5334,|,1943,|,5414,|,2011,...,|,2936,|,1380,|,3068,|,1339.94,|,1374.77
63,1994,,|,NaN,|,NaN,|,,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
64,1994,Vermont ...........................,|,10327,|,5682,|,10640,|,5898,...,|,15670,|,3375,|,2567,|,2196,|,2370
65,1994,Virginia ..........................,|,7958,|,3776,|,8202,|,3907,...,|,10596,|,2062,|,2363,|,1384.31,|,1433.28
66,1994,Washington ........................,|,7068,|,2685,|,7136,|,2791,...,|,13276,|,2487,|,2329,|,1313.24,|,1369.32
67,1994,West Virginia......................,|,5912,|,1961,|,6128,|,2024,...,|,10008,|,1853,|,2370,|,1302.63,|,1311.77
68,1994,Wisconsin .........................,|,5613,|,2468,|,5847,|,2614,...,|,11569,|,1812,|,2271,|,1682.39,|,1840.45
69,1994,Wyoming ...........................,|,5237,|,1908,|,5429,|,2005,...,|,---,|,---,|,---,|,891.58,|,948.27
70,1994,_,|,_,|,_,|,_,|,_,...,|,_,|,_,|,_,|,_,|,_
71,1994,\1\Preliminary data based on fall 1994 enrollm...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,1994,---Data not reported or not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,1994,NOTE.--Data are for the entire academic year a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1994,"undergraduates in 1994, but are not adjusted t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,1994,"SOURCE: U.S. Department of Education, Nationa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,1994,"""Fall Enrollment"" and ""Institutional Character...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
#drop unneeded rows
df1 = df.drop(df.index[[0,1,2,3,4,5,6,7,9,15,21,27,33,39,45,51,57,63,70,71,72,73,74,75,76,77,78,79,80]])
df1

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
8,1994,United States ..................,|,6670,|,2681,|,7013,|,2848,...,|,12239,|,2753,|,2622,|,1192.49,|,1244.95
10,1994,Alabama ...........................,|,5429,|,2107,|,5737,|,2240,...,|,7580,|,1799,|,2256,|,1131.9,|,1317.24
11,1994,Alaska ............................,|,6153,|,2039,|,6665,|,2489,...,|,8293,|,1879,|,2745,|,1320,|,2120
12,1994,Arizona ............................,|,5825,|,1894,|,5998,|,1926,...,|,6779,|,2012,|,2143,|,734.61,|,763.63
13,1994,Arkansas ...........................,|,4912,|,1954,|,5064,|,2028,...,|,6574,|,1488,|,2121,|,884.18,|,902.87
14,1994,California .........................,|,7924,|,2696,|,8213,|,2666,...,|,13977,|,3196,|,2970,|,364.72,|,362.02
16,1994,Colorado ...........................,|,6524,|,2380,|,7037,|,2473,...,|,11796,|,2574,|,2750,|,1282.44,|,1340.12
17,1994,Connecticut .........................,|,8491,|,3737,|,8753,|,3845,...,|,16646,|,3621,|,2744,|,1520,|,1646
18,1994,Delaware ............................,|,8118,|,3805,|,8489,|,3981,...,|,7373,|,2701,|,1443,|,1266,|,1266
19,1994,District of Columbia ................,|,---,|,1046,|,---,|,1118,...,|,14681,|,3917,|,2740,|,---,|,---
20,1994,Florida ............................,|,6201,|,1783,|,6254,|,1767,...,|,10364,|,2428,|,2236,|,1113.04,|,1102.98
22,1994,Georgia .............................,|,5382,|,1964,|,5691,|,2103,...,|,10208,|,2719,|,2267,|,1022.63,|,1062.02
23,1994,Hawaii ...............................,|,---,|,1504,|,---,|,1576,...,|,6234,|,3050,|,2347,|,499.96,|,523.96
24,1994,Idaho ..............................,|,5203,|,1581,|,5321,|,1682,...,|,11843,|,1430,|,2035,|,990.8,|,990.8
25,1994,Illinois ...........................,|,7498,|,3195,|,7829,|,3352,...,|,11653,|,2718,|,2306,|,1192.81,|,1231.99
26,1994,Indiana..............................,|,6920,|,2862,|,7392,|,3037,...,|,12592,|,1987,|,2250,|,1847.65,|,1936.91
28,1994,Iowa ...............................,|,5701,|,2462,|,5945,|,2565,...,|,11932,|,1864,|,2138,|,1699.76,|,1781.98
29,1994,Kansas ..............................,|,5441,|,2019,|,5691,|,2120,...,|,8634,|,1582,|,2183,|,1050.68,|,1146.61
30,1994,Kentucky ...........................,|,5327,|,2057,|,5455,|,2161,...,|,7497,|,1711,|,1985,|,1087.73,|,1111.98
31,1994,Louisiana ..........................,|,5268,|,2212,|,5491,|,2221,...,|,12449,|,2906,|,2440,|,1022.98,|,1030.82
32,1994,Maine ...............................,|,7763,|,3303,|,7966,|,3474,...,|,16204,|,2758,|,2910,|,2150.54,|,2381.02
34,1994,Maryland ...........................,|,8300,|,3321,|,8728,|,3572,...,|,14700,|,3524,|,3022,|,1842.55,|,1966.76
35,1994,Massachusetts ......................,|,8562,|,4148,|,8757,|,4253,...,|,16403,|,3688,|,3244,|,2437.01,|,2358.62
36,1994,Michigan ..........................,|,7948,|,3733,|,8195,|,3895,...,|,9176,|,1974,|,2182,|,1435.55,|,1528.72
37,1994,Minnesota ...........................,|,6203,|,2931,|,6712,|,3216,...,|,12897,|,2058,|,2267,|,1964.69,|,2065.15
38,1994,Mississippi ........................,|,5250,|,2446,|,5425,|,2459,...,|,6782,|,1582,|,1536,|,938.42,|,941.2
40,1994,Missouri..........................,|,6347,|,2797,|,6750,|,3015,...,|,9566,|,2162,|,2387,|,1204.29,|,1254.81
41,1994,Montana ...........................,|,6004,|,2109,|,7754,|,2367,...,|,7545,|,1388,|,2128,|,1375.68,|,1382.46
42,1994,Nebraska ..........................,|,5187,|,2058,|,5497,|,2182,...,|,9430,|,1801,|,2003,|,1101.53,|,1131.56
43,1994,Nevada .............................,|,6905,|,1601,|,7388,|,1684,...,|,7841,|,3050,|,---,|,843.35,|,969.97
44,1994,New Hampshire .....................,|,8181,|,4039,|,8729,|,4446,...,|,15038,|,3024,|,3009,|,2316.42,|,2419.73
46,1994,New Jersey ........................,|,8727,|,3776,|,9125,|,3972,...,|,13566,|,3226,|,2959,|,1754.43,|,1877.95
47,1994,New Mexico ........................,|,5365,|,1836,|,5298,|,1940,...,|,9784,|,2289,|,2282,|,675.03,|,690.25
48,1994,New York ..........................,|,7926,|,2944,|,8960,|,3714,...,|,13852,|,3724,|,3255,|,2151.24,|,2427.04
49,1994,North Carolina ...................,|,4857,|,1502,|,5119,|,1639,...,|,10984,|,2128,|,2316,|,582.34,|,581.27
50,1994,North Dakota ......................,|,5514,|,2248,|,5642,|,2248,...,|,6998,|,1260,|,1649,|,1688.86,|,1697.62
52,1994,Ohio ..............................,|,7732,|,3403,|,8169,|,3603,...,|,12377,|,2349,|,2414,|,2166.31,|,2260.74
53,1994,Oklahoma ..........................,|,4196,|,1672,|,4287,|,1839,...,|,7831,|,1803,|,2140,|,1149.46,|,1260.3
54,1994,Oregon ............................,|,6930,|,3064,|,7354,|,3233,...,|,13892,|,2257,|,2750,|,1321.68,|,1338.32
55,1994,Pennsylvania .....................,|,8672,|,4517,|,9124,|,4723,...,|,14111,|,2943,|,2822,|,1755.14,|,1908.82
56,1994,Rhode Island .....................,|,9067,|,3706,|,9446,|,3856,...,|,15390,|,3613,|,3072,|,1686,|,1726
58,1994,South Carolina ....................,|,6756,|,3020,|,6964,|,3094,...,|,9741,|,1786,|,1990,|,1047.79,|,1070.64
59,1994,South Dakota .....................,|,5271,|,2509,|,5619,|,2642,...,|,9123,|,1541,|,2374,|,3430,|,3430
60,1994,Tennessee ........................,|,5131,|,1897,|,5372,|,1990,...,|,9830,|,2153,|,2085,|,975.61,|,1022.32
61,1994,Texas ............................,|,5177,|,1606,|,5464,|,1820,...,|,8959,|,2000,|,2198,|,688.97,|,770.51
62,1994,Utah ..............................,|,5334,|,1943,|,5414,|,2011,...,|,2936,|,1380,|,3068,|,1339.94,|,1374.77
64,1994,Vermont ...........................,|,10327,|,5682,|,10640,|,5898,...,|,15670,|,3375,|,2567,|,2196,|,2370
65,1994,Virginia ..........................,|,7958,|,3776,|,8202,|,3907,...,|,10596,|,2062,|,2363,|,1384.31,|,1433.28
66,1994,Washington ........................,|,7068,|,2685,|,7136,|,2791,...,|,13276,|,2487,|,2329,|,1313.24,|,1369.32
67,1994,West Virginia......................,|,5912,|,1961,|,6128,|,2024,...,|,10008,|,1853,|,2370,|,1302.63,|,1311.77
68,1994,Wisconsin .........................,|,5613,|,2468,|,5847,|,2614,...,|,11569,|,1812,|,2271,|,1682.39,|,1840.45
69,1994,Wyoming ...........................,|,5237,|,1908,|,5429,|,2005,...,|,---,|,---,|,---,|,891.58,|,948.27

In [64]:
#Drop Unneeded columns
df2 = df1.drop(['3','5','7','8','9','10','11','12','13','14','15','17','19','20','21','22','23','24','25','26','27','28','29','30'], axis = 1)
df2

       1                                       2      4     6     16     18
8   1994        United States ..................   6670  2681  16602  11481
10  1994     Alabama ...........................   5429  2107  11208   7318
11  1994     Alaska ............................   6153  2039  12849   8302
12  1994    Arizona ............................   5825  1894  10358   6225
13  1994    Arkansas ...........................   4912  1954   9615   6197
14  1994    California .........................   7924  2696  17696  11847
16  1994    Colorado ...........................   6524  2380  16262  11060
17  1994   Connecticut .........................   8491  3737  21739  15521
18  1994   Delaware ............................   8118  3805  11349   7159
19  1994   District of Columbia ................    ---  1046  20311  14021
20  1994    Florida ............................   6201  1783  14329   9785
22  1994   Georgia .............................   5382  1964  14329   9562
23  1994  Hawaii ...............................    ---  1504  11020   5971
24  1994    Idaho ..............................   5203  1581  14451  11130
25  1994    Illinois ...........................   7498  3195  16009  11078
26  1994   Indiana..............................   6920  2862  15920  11842
28  1994    Iowa ...............................   5701  2462  15184  11349
29  1994   Kansas ..............................   5441  2019  11698   8063
30  1994    Kentucky ...........................   5327  2057  10679   7046
31  1994    Louisiana ..........................   5268  2212  16748  11768
32  1994   Maine ...............................   7763  3303  20520  15058
34  1994    Maryland ...........................   8300  3321  20120  13805
35  1994    Massachusetts ......................   8562  4148  22330  15689
36  1994     Michigan ..........................   7948  3733  12849   8771
37  1994   Minnesota ...........................   6203  2931  16339  12233
38  1994    Mississippi ........................   5250  2446   9312   6384
40  1994      Missouri..........................   6347  2797  14057   9577
41  1994     Montana ...........................   6004  2109  10438   6999
42  1994     Nebraska ..........................   5187  2058  12541   8861
43  1994    Nevada .............................   6905  1601    ---   7532
44  1994     New Hampshire .....................   8181  4039  17180  12148
46  1994     New Jersey ........................   8727  3776  18949  12928
47  1994     New Mexico ........................   5365  1836  13489   9104
48  1994     New York ..........................   7926  2944  19663  13069
49  1994      North Carolina ...................   4857  1502  14658  10493
50  1994     North Dakota ......................   5514  2248   9520   6663
52  1994     Ohio ..............................   7732  3403  16282  11735
53  1994     Oklahoma ..........................   4196  1672  11562   7781
54  1994     Oregon ............................   6930  3064  17592  12971
55  1994      Pennsylvania .....................   8672  4517  18979  13418
56  1994      Rhode Island .....................   9067  3706  20957  14604
58  1994     South Carolina ....................   6756  3020  12651   9073
59  1994      South Dakota .....................   5271  2509  12352   8536
60  1994      Tennessee ........................   5131  1897  13235   9257
61  1994      Texas ............................   5177  1606  12390   8386
62  1994     Utah ..............................   5334  1943   7060   2761
64  1994     Vermont ...........................  10327  5682  20596  14960
65  1994     Virginia ..........................   7958  3776  14166   9943
66  1994     Washington ........................   7068  2685  16988  12408
67  1994     West Virginia......................   5912  1961  13354   9460
68  1994     Wisconsin .........................   5613  2468  14693  10761
69  1994     Wyoming ...........................   5237  1908    ---    ---

In [65]:
df2.columns

Index(['1', '2', '4', '6', '16', '18'], dtype='object')

In [66]:
df3 = df2.rename(columns = {'1': 'Year', '2': 'State', '4': 'Total Public Tuition', '6': 'Public In-State Tuition', '16': 'Total Private Tuition', '18': 'Private Tuition'})
df3

,Year,State,Total Public Tuition,Public In-State Tuition,Total Private Tuition,Private Tuition
8,1994,United States ..................,6670,2681,16602,11481
10,1994,Alabama ...........................,5429,2107,11208,7318
11,1994,Alaska ............................,6153,2039,12849,8302
12,1994,Arizona ............................,5825,1894,10358,6225
13,1994,Arkansas ...........................,4912,1954,9615,6197
14,1994,California .........................,7924,2696,17696,11847
16,1994,Colorado ...........................,6524,2380,16262,11060
17,1994,Connecticut .........................,8491,3737,21739,15521
18,1994,Delaware ............................,8118,3805,11349,7159
19,1994,District of Columbia ................,---,1046,20311,14021
20,1994,Florida ............................,6201,1783,14329,9785
22,1994,Georgia .............................,5382,1964,14329,9562
23,1994,Hawaii ...............................,---,1504,11020,5971
24,1994,Idaho ..............................,5203,1581,14451,11130
25,1994,Illinois ...........................,7498,3195,16009,11078
26,1994,Indiana..............................,6920,2862,15920,11842
28,1994,Iowa ...............................,5701,2462,15184,11349
29,1994,Kansas ..............................,5441,2019,11698,8063
30,1994,Kentucky ...........................,5327,2057,10679,7046
31,1994,Louisiana ..........................,5268,2212,16748,11768
32,1994,Maine ...............................,7763,3303,20520,15058
34,1994,Maryland ...........................,8300,3321,20120,13805
35,1994,Massachusetts ......................,8562,4148,22330,15689
36,1994,Michigan ..........................,7948,3733,12849,8771
37,1994,Minnesota ...........................,6203,2931,16339,12233
38,1994,Mississippi ........................,5250,2446,9312,6384
40,1994,Missouri..........................,6347,2797,14057,9577
41,1994,Montana ...........................,6004,2109,10438,6999
42,1994,Nebraska ..........................,5187,2058,12541,8861
43,1994,Nevada .............................,6905,1601,---,7532
44,1994,New Hampshire .....................,8181,4039,17180,12148
46,1994,New Jersey ........................,8727,3776,18949,12928
47,1994,New Mexico ........................,5365,1836,13489,9104
48,1994,New York ..........................,7926,2944,19663,13069
49,1994,North Carolina ...................,4857,1502,14658,10493
50,1994,North Dakota ......................,5514,2248,9520,6663
52,1994,Ohio ..............................,7732,3403,16282,11735
53,1994,Oklahoma ..........................,4196,1672,11562,7781
54,1994,Oregon ............................,6930,3064,17592,12971
55,1994,Pennsylvania .....................,8672,4517,18979,13418
56,1994,Rhode Island .....................,9067,3706,20957,14604
58,1994,South Carolina ....................,6756,3020,12651,9073
59,1994,South Dakota .....................,5271,2509,12352,8536
60,1994,Tennessee ........................,5131,1897,13235,9257
61,1994,Texas ............................,5177,1606,12390,8386
62,1994,Utah ..............................,5334,1943,7060,2761
64,1994,Vermont ...........................,10327,5682,20596,14960
65,1994,Virginia ..........................,7958,3776,14166,9943
66,1994,Washington ........................,7068,2685,16988,12408
67,1994,West Virginia......................,5912,1961,13354,9460
68,1994,Wisconsin .........................,5613,2468,14693,10761
69,1994,Wyoming ...........................,5237,1908,---,---

In [67]:
df3.to_excel("1994.xlsx")