In [179]:
import pandas as pd
import os

In [206]:
df = pd.read_excel('2004-2005-2006.xls')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 320. Average undergraduate tuition and f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"institutions, by type and control o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,State or jurisdiction,Public 4-year,NaN,NaN,NaN,NaN,NaN,Private 4-year,NaN,NaN,NaN,NaN,NaN,"Public 2-year, tuition and required fees (in-s...",NaN
5,NaN,2004-05,NaN,2005-06,NaN,NaN,NaN,2004-05,NaN,2005-06,NaN,NaN,NaN,NaN,NaN
6,NaN,Total,Tuition and required fees (in-state),Total,Tuition and required fees (in-state),Room,Board,Total,Tuition and required fees,Total,Tuition and required fees,Room,Board,2004-05,2005-06
7,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
8,United States ..................,11426,5027,12108,5351,3664,3093,26257,18604,27317,19292,4386,3639,1848.7,1935.07
9,Alabama ...........................,9813,4376,9625,4578,2757,2290,17586,11724,18520,12426,3034,3060,2736.33,2763.58
10,Alaska ............................,9944,3779,10620,4054,3723,2843,21631,14300,21651,14891,3055,3705,2285.06,2353.22
11,Arizona ............................,10857,4075,11480,4426,4032,3022,19370,13093,18734,11397,3925,3411,1225.29,1343.55
12,Arkansas ...........................,8739,4294,9192,4643,2496,2053,17070,11839,18122,12691,2623,2808,1716.88,1780.23
13,California .........................,13354,4322,13685,4408,4850,4427,29971,20795,31266,21691,5409,4166,720.95,717.94
14,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Colorado ...........................,10241,3520,11569,4465,3447,3657,26645,17857,27779,18493,4873,4413,1846.96,1990.77
16,Connecticut .........................,13827,6388,14658,6709,4273,3676,33937,24641,36026,26183,5388,4455,2404,2536
17,Delaware ............................,13351,6669,14326,7074,4177,3076,16968,10114,18176,10819,3694,3663,2088,2240
18,District of Columbia ................,†,2070,†,2070,†,†,31501,22134,32556,22748,6314,3494,†,†
19,Florida ............................,9357,2648,10141,2941,4054,3146,23457,16285,24985,17503,4011,3471,1743.18,1844.3
20,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Georgia .............................,9430,3377,10062,3632,3980,2450,24532,16938,26081,18120,4558,3403,1474.66,1644.73
22,Hawaii ...............................,9141,3353,9042,3226,3103,2713,18156,9756,19437,10334,4000,5103,1174.68,1225.66
23,Idaho ..............................,9061,3588,8982,3919,2304,2759,11394,5505,11614,5490,2501,3624,1816.96,1891.42
24,Illinois ...........................,12789,6491,13976,7158,3411,3407,26925,18930,27875,19406,5044,3425,1948.99,2103.88
25,Indiana .............................,12232,5654,12388,5892,3126,3371,26262,19911,27582,20851,3446,3285,2593.97,2589
26,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Iowa ...............................,11539,5406,12329,5619,3101,3609,22896,17218,23444,17513,2789,3143,2879.81,3031.66
28,Kansas ..............................,9392,4174,9980,4560,2604,2817,19724,14238,20741,15044,2603,3094,1883.23,1938.17
29,Kentucky ...........................,9401,4505,10663,5136,2918,2609,19221,13524,20674,13764,3879,3031,2545.17,2403.53
30,Louisiana ..........................,7968,3524,8506,3679,2666,2161,26347,19071,17207,11264,2858,3086,1437.87,1469.16
31,Maine ...............................,11838,5574,12568,6027,3348,3193,28040,20417,29550,21508,3985,4057,2803.05,3039.24
32,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Maryland ...........................,14086,6614,14793,7045,4381,3366,31017,22642,32617,23934,5179,3503,2829.3,2833.27
34,Massachusetts ......................,13686,7000,14651,7290,4128,3233,35410,25863,37282,27335,5582,4365,2835.39,2925.23
35,Michigan ..........................,12659,6189,13693,6938,3494,3262,18772,12728,19732,13303,3325,3104,1933.58,2075.77
36,Minnesota ...........................,11971,6485,12777,6912,3301,2564,25819,19360,27314,20519,3631,3164,3868.73,4085.21
37,Mississippi ........................,8997,3984,9461,4177,2794,2490,16437,11435,17112,11839,2702,2571,1512.16,1660.13
38,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Missouri .........................,11368,5843,11861,5831,3627,2403,21250,14871,22441,15718,3467,3255,2124.71,2246.66
40,Montana ...........................,9870,4510,10613,4952,2580,3081,17754,12009,18093,12937,2480,2676,2574.68,2721.08
41,Nebraska ..........................,10702,4671,11286,4880,3106,3300,19471,14182,21017,15234,2915,2867,1772.46,1899.02
42,Nevada .............................,10526,2511,10865,2671,4754,3440,20504,11789,20691,12622,4369,3700,1497.52,1635.18
43,New Hampshire .....................,14538,7981,15479,8458,4306,2715,29675,21409,31154,22534,4988,3632,5341.85,5719.89
44,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,New Jersey ........................,16344,7981,17708,8649,5853,3206,29723,20901,31335,22114,5038,4183,2566.47,2711.8
46,New Mexico ........................,8683,3396,9579,3701,3231,2647,18833,12542,20006,13256,3256,3494,1073.21,1179.31
47,New York ..........................,12442,4917,13275,4987,4610,3678,30901,21640,32478,22900,5587,3992,3072.1,3180.5
48,North Carolina ...................,9421,3551,9675,3631,3317,2727,24666,18145,26411,19166,3520,3725,1246.38,1295.36
49,North Dakota ......................,9018,4554,9829,5038,1963,2828,12679,8735,13553,9376,1774,2403,2844.71,3084.23
50,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Ohio ..............................,15251,8032,16032,8457,4312,3264,25390,18748,26906,19901,3570,3436,3000.55,3126.84
52,Oklahoma ..........................,8448,3504,9404,3806,2890,2708,19104,13400,20113,14033,2891,3189,1709.75,2111.1
53,Oregon ............................,12201,5163,12720,5348,3657,3716,27286,20370,27945,20844,3627,3474,2556.64,2634.94
54,Pennsylvania .....................,14759,8330,15464,8710,3812,2942,30550,22211,31963,23450,4606,3908,2751.7,2976.21
55,Rhode Island .....................,13550,5873,14315,6316,4310,3688,30916,22385,33101,24140,4938,4022,2310,2470
56,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,South Carolina ....................,12158,6746,13145,7337,3470,2338,21057,15298,22170,16165,2948,3057,2817.58,2932.48
58,South Dakota .....................,8965,4728,9493,4908,2114,2471,17813,12893,18930,13686,2491,2754,2826.07,3154.43
59,Tennessee ........................,9443,4260,9956,4765,2811,2379,21902,15761,23039,16552,3526,2962,2209.28,2394.7
60,Texas ............................,10218,4400,10973,4666,3393,2914,22078,15800,23440,16809,3462,3168,1234.14,1273.34
61,Utah ..............................,8344,3174,8745,3445,2180,3120,10700,4940,11275,5249,3014,3012,2088.67,2224.25
62,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Vermont ...........................,15656,8769,16571,9279,4640,2652,27384,19951,29072,21273,4171,3628,3796,4012
64,Virginia ..........................,11621,5554,12279,5912,3406,2961,22773,16555,23823,17185,3340,3297,1927.16,2049.25
65,Washington ........................,11884,4924,12384,5250,3443,3692,25884,18915,27280,20110,3862,3308,2390.85,2553.92
66,West Virginia .....................,9508,3584,9992,3816,3157,3019,18913,13146,20002,13856,2984,3163,2983.47,2508.91
67,Wisconsin .........................,9867,5291,10560,5672,2907,1981,24442,18249,25656,19083,3339,3235,2793.47,2965.41
68,Wyoming ...........................,8514,2721,8946,2874,2709,3363,†,†,†,9450,†,†,1683.87,1772.34
69,†Not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NOTE: Data are for the entire academic year an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,"SOURCE: U.S. Department of Education, National...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
#add year column
df.insert(0, "Year", "2004")
df.head()

,Year,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,Table 320. Average undergraduate tuition and f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,"institutions, by type and control o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,State or jurisdiction,Public 4-year,NaN,NaN,NaN,NaN,NaN,Private 4-year,NaN,NaN,NaN,NaN,NaN,"Public 2-year, tuition and required fees (in-s...",NaN

In [208]:
df.columns = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30']
df

ValueError: Length mismatch: Expected axis has 16 elements, new values have 30 elements

In [200]:
pd.set_option('display.max_rows', None)
df

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
0,2003,NaN,|,2003-04,NaN,NaN,|,"Public 4-year, 2004-05\1\",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,|,tuition only,NaN,NaN
1,2003,NaN,|,_,_,_,|,_,_,_,...,_,_,_,_,_,_,|,(in-state),NaN,NaN
2,2003,NaN,|,NaN,|,Tuition,|,NaN,|,Tuition,...,|,NaN,|,NaN,|,NaN,|,_,_,_
3,2003,NaN,|,NaN,|,and,|,NaN,|,and,...,|,Tuition,|,NaN,|,NaN,|,NaN,|,NaN
4,2003,NaN,|,NaN,|,required,|,NaN,|,required,...,|,and re-,|,NaN,|,NaN,|,2003-,|,2004-
5,2003,NaN,|,NaN,|,fees (in-,|,NaN,|,fees (in-,...,|,quired,|,NaN,|,NaN,|,04,|,05\1\
6,2003,State or jurisdiction,|,Total,|,state),|,Total,|,state),...,|,fees,|,Room,|,Board,|,,|,
7,2003,_,|,_,|,_,|,_,|,_,...,|,_,|,_,|,_,|,_,|,_
8,2003,United States ..................,|,10674,|,4587,|,11441,|,5038,...,|,18838,|,4166,|,3485,|,1701.66,|,1846.83
9,2003,,|,_,|,_,|,_,|,_,...,|,_,|,_,|,_,|,_,|,_
10,2003,Alabama ...........................,|,8962,|,3970,|,9819,|,4377,...,|,11671,|,2906,|,2943,|,2478.77,|,2735.36
11,2003,Alaska ............................,|,10132,|,3430,|,9936,|,3782,...,|,14093,|,3002,|,4328,|,1790.24,|,1945.02
12,2003,Arizona ............................,|,10149,|,3587,|,10863,|,4076,...,|,13197,|,2922,|,3329,|,1140.83,|,1225.72
13,2003,Arkansas ...........................,|,8337,|,4006,|,8734,|,4297,...,|,11811,|,2537,|,2692,|,1658.6,|,1699.86
14,2003,California .........................,|,12288,|,3800,|,13356,|,4323,...,|,21046,|,5082,|,4058,|,485.9,|,720.64
15,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
16,2003,Colorado ...........................,|,9763,|,3451,|,10243,|,3518,...,|,18583,|,4670,|,4108,|,1796.28,|,1850.31
17,2003,Connecticut .........................,|,12790,|,5777,|,13824,|,6385,...,|,24664,|,5132,|,4169,|,2306.94,|,2404
18,2003,Delaware ............................,|,12502,|,6183,|,13353,|,6671,...,|,10458,|,3499,|,3411,|,1992,|,2088
19,2003,District of Columbia ................,|,†,|,2070,|,†,|,2070,...,|,22240,|,6020,|,3334,|,†,|,†
20,2003,Florida ............................,|,8956,|,2534,|,9335,|,2633,...,|,16599,|,3814,|,3380,|,1639.05,|,1744.77
21,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
22,2003,Georgia .............................,|,9052,|,3192,|,9439,|,3392,...,|,17146,|,4313,|,3275,|,1421.28,|,1469.79
23,2003,Hawaii ...............................,|,8747,|,3235,|,9131,|,3347,...,|,9585,|,3813,|,4468,|,1118.47,|,1174.55
24,2003,Idaho ..............................,|,8082,|,3321,|,9066,|,3589,...,|,5502,|,2315,|,3571,|,1657.14,|,1816.95
25,2003,Illinois ...........................,|,11795,|,5642,|,12803,|,6497,...,|,18996,|,4743,|,3226,|,1782.12,|,1951.59
26,2003,Indiana .............................,|,11619,|,5370,|,12240,|,5666,...,|,20112,|,3274,|,3104,|,2467.73,|,2598.82
27,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
28,2003,Iowa ...............................,|,10876,|,4991,|,11541,|,5407,...,|,17339,|,2658,|,3015,|,2687.91,|,2876.43
29,2003,Kansas ..............................,|,8587,|,3674,|,9397,|,4181,...,|,14260,|,2496,|,2979,|,1792.45,|,1882.43
30,2003,Kentucky ...........................,|,8515,|,3859,|,9400,|,4502,...,|,13577,|,2790,|,2895,|,2265.56,|,2562.06
31,2003,Louisiana ..........................,|,7460,|,3185,|,7973,|,3526,...,|,19312,|,4144,|,3126,|,1227.75,|,1428.64
32,2003,Maine ...............................,|,10994,|,5001,|,11826,|,5565,...,|,20711,|,3779,|,3881,|,2781.37,|,2802.24
33,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
34,2003,Maryland ...........................,|,13407,|,6224,|,14108,|,6632,...,|,22284,|,4831,|,3400,|,2595.22,|,2837.26
35,2003,Massachusetts ......................,|,12245,|,6069,|,13687,|,7010,...,|,25935,|,5404,|,4131,|,2722.84,|,2843.92
36,2003,Michigan ..........................,|,12187,|,5994,|,12658,|,6189,...,|,13253,|,3066,|,2967,|,1864.56,|,1935.79
37,2003,Minnesota ...........................,|,10826,|,5728,|,11958,|,6478,...,|,19510,|,3433,|,3003,|,3415.59,|,3839.41
38,2003,Mississippi ........................,|,8535,|,3750,|,9019,|,3986,...,|,11442,|,2574,|,2444,|,1389.67,|,1510.35
39,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
40,2003,Missouri .........................,|,10355,|,5396,|,11356,|,5833,...,|,15045,|,3281,|,3105,|,1940.45,|,2127.56
41,2003,Montana ...........................,|,9347,|,4155,|,9867,|,4511,...,|,12172,|,2688,|,3058,|,2569,|,2558.04
42,2003,Nebraska ..........................,|,9611,|,4238,|,10704,|,4679,...,|,14412,|,2778,|,2535,|,1672.48,|,1771.85
43,2003,Nevada .............................,|,10310,|,2720,|,10464,|,2477,...,|,11928,|,4977,|,3689,|,1509.25,|,1495.78
44,2003,New Hampshire .....................,|,13843,|,7615,|,14651,|,8086,...,|,21452,|,4796,|,3480,|,4821.27,|,5337.89
45,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
46,2003,New Jersey ........................,|,15088,|,7255,|,16349,|,7989,...,|,20910,|,4750,|,4092,|,2442.86,|,2568.9
47,2003,New Mexico ........................,|,8255,|,3164,|,8675,|,3395,...,|,13034,|,3161,|,3109,|,1001.96,|,1072.16
48,2003,New York ..........................,|,12004,|,4884,|,12441,|,4922,...,|,21632,|,5373,|,3902,|,2950.55,|,3073.5
49,2003,North Carolina ...................,|,8780,|,3239,|,9450,|,3563,...,|,18139,|,3248,|,3214,|,1165.64,|,1247.56
50,2003,North Dakota ......................,|,8035,|,3837,|,9011,|,4549,...,|,8571,|,1647,|,2306,|,2420.76,|,2850.06
51,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
52,2003,Ohio ..............................,|,13346,|,6589,|,15256,|,8041,...,|,18941,|,3368,|,3285,|,2822.66,|,2998.65
53,2003,Oklahoma ..........................,|,7907,|,3201,|,8451,|,3507,...,|,13446,|,2742,|,2980,|,1647.82,|,1718.63
54,2003,Oregon ............................,|,11632,|,4667,|,12177,|,5151,...,|,20593,|,3493,|,3407,|,2427.15,|,2558.16
55,2003,Pennsylvania .....................,|,13734,|,7615,|,14771,|,8347,...,|,22306,|,4418,|,3913,|,2512.12,|,2751.27
56,2003,Rhode Island .....................,|,12767,|,5391,|,13541,|,5866,...,|,22394,|,4663,|,3850,|,2120,|,2310
57,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
58,2003,South Carolina ....................,|,12668,|,7442,|,12165,|,6749,...,|,15426,|,2915,|,2896,|,2632.47,|,2815.54
59,2003,South Dakota .....................,|,8406,|,4453,|,8944,|,4720,...,|,13161,|,2344,|,2571,|,2797.61,|,2840.43
60,2003,Tennessee ........................,|,8934,|,4039,|,9445,|,4258,...,|,15873,|,3314,|,2848,|,2075.66,|,2209.15
61,2003,Texas ............................,|,9180,|,3559,|,10233,|,4423,...,|,15929,|,3308,|,2981,|,1165.97,|,1227.52
62,2003,Utah ..............................,|,7878,|,2896,|,8348,|,3177,...,|,4767,|,2864,|,2889,|,1953.67,|,2088.82
63,2003,,|,NaN,|,NaN,|,NaN,|,NaN,...,|,NaN,|,NaN,|,NaN,|,NaN,|,NaN
64,2003,Vermont ...........................,|,14769,|,8263,|,15658,|,8771,...,|,19838,|,3947,|,3476,|,3604,|,3796
65,2003,Virginia ..........................,|,10903,|,5068,|,11616,|,5556,...,|,17010,|,3165,|,3101,|,1802.37,|,1928.5
66,2003,Washington ........................,|,11335,|,4626,|,11902,|,4926,...,|,19031,|,3746,|,3245,|,2228.16,|,2390.16
67,2003,West Virginia .....................,|,8764,|,3170,|,9450,|,3572,...,|,13284,|,2823,|,2960,|,2919.9,|,3105.24
68,2003,Wisconsin .........................,|,9061,|,4676,|,9872,|,5290,...,|,18380,|,3148,|,3046,|,2589.41,|,2795.56
69,2003,Wyoming ...........................,|,8485,|,3090,|,8514,|,2721,...,|,†,|,†,|,†,|,1614.15,|,1680.09
70,2003,_,|,_,|,_,|,_,|,_,...,|,_,|,_,|,_,|,_,|,_
71,2003,†Not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,2003,\1\Preliminary data based on fall 2003 enrollm...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,2003,NOTE: Data are for the entire academic year a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2003,"equivalent undergraduates in 2003, but are not...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,2003,students. (See Guide to Sources for details.)...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,2003,to totals because of rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,2003,"SOURCE: U.S. Department of Education, Nationa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,2003,"Data System (IPEDS), Fall 2003, Fall 2004, and...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
#drop unneeded rows
df1 = df.drop(df.index[[0,1,2,3,4,5,6,7,9,15,21,27,33,39,45,51,57,63,70,71,72,73,74,75,76,77,78]])
df1

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
8,2003,United States ..................,|,10674,|,4587,|,11441,|,5038,...,|,18838,|,4166,|,3485,|,1701.66,|,1846.83
10,2003,Alabama ...........................,|,8962,|,3970,|,9819,|,4377,...,|,11671,|,2906,|,2943,|,2478.77,|,2735.36
11,2003,Alaska ............................,|,10132,|,3430,|,9936,|,3782,...,|,14093,|,3002,|,4328,|,1790.24,|,1945.02
12,2003,Arizona ............................,|,10149,|,3587,|,10863,|,4076,...,|,13197,|,2922,|,3329,|,1140.83,|,1225.72
13,2003,Arkansas ...........................,|,8337,|,4006,|,8734,|,4297,...,|,11811,|,2537,|,2692,|,1658.6,|,1699.86
14,2003,California .........................,|,12288,|,3800,|,13356,|,4323,...,|,21046,|,5082,|,4058,|,485.9,|,720.64
16,2003,Colorado ...........................,|,9763,|,3451,|,10243,|,3518,...,|,18583,|,4670,|,4108,|,1796.28,|,1850.31
17,2003,Connecticut .........................,|,12790,|,5777,|,13824,|,6385,...,|,24664,|,5132,|,4169,|,2306.94,|,2404
18,2003,Delaware ............................,|,12502,|,6183,|,13353,|,6671,...,|,10458,|,3499,|,3411,|,1992,|,2088
19,2003,District of Columbia ................,|,†,|,2070,|,†,|,2070,...,|,22240,|,6020,|,3334,|,†,|,†
20,2003,Florida ............................,|,8956,|,2534,|,9335,|,2633,...,|,16599,|,3814,|,3380,|,1639.05,|,1744.77
22,2003,Georgia .............................,|,9052,|,3192,|,9439,|,3392,...,|,17146,|,4313,|,3275,|,1421.28,|,1469.79
23,2003,Hawaii ...............................,|,8747,|,3235,|,9131,|,3347,...,|,9585,|,3813,|,4468,|,1118.47,|,1174.55
24,2003,Idaho ..............................,|,8082,|,3321,|,9066,|,3589,...,|,5502,|,2315,|,3571,|,1657.14,|,1816.95
25,2003,Illinois ...........................,|,11795,|,5642,|,12803,|,6497,...,|,18996,|,4743,|,3226,|,1782.12,|,1951.59
26,2003,Indiana .............................,|,11619,|,5370,|,12240,|,5666,...,|,20112,|,3274,|,3104,|,2467.73,|,2598.82
28,2003,Iowa ...............................,|,10876,|,4991,|,11541,|,5407,...,|,17339,|,2658,|,3015,|,2687.91,|,2876.43
29,2003,Kansas ..............................,|,8587,|,3674,|,9397,|,4181,...,|,14260,|,2496,|,2979,|,1792.45,|,1882.43
30,2003,Kentucky ...........................,|,8515,|,3859,|,9400,|,4502,...,|,13577,|,2790,|,2895,|,2265.56,|,2562.06
31,2003,Louisiana ..........................,|,7460,|,3185,|,7973,|,3526,...,|,19312,|,4144,|,3126,|,1227.75,|,1428.64
32,2003,Maine ...............................,|,10994,|,5001,|,11826,|,5565,...,|,20711,|,3779,|,3881,|,2781.37,|,2802.24
34,2003,Maryland ...........................,|,13407,|,6224,|,14108,|,6632,...,|,22284,|,4831,|,3400,|,2595.22,|,2837.26
35,2003,Massachusetts ......................,|,12245,|,6069,|,13687,|,7010,...,|,25935,|,5404,|,4131,|,2722.84,|,2843.92
36,2003,Michigan ..........................,|,12187,|,5994,|,12658,|,6189,...,|,13253,|,3066,|,2967,|,1864.56,|,1935.79
37,2003,Minnesota ...........................,|,10826,|,5728,|,11958,|,6478,...,|,19510,|,3433,|,3003,|,3415.59,|,3839.41
38,2003,Mississippi ........................,|,8535,|,3750,|,9019,|,3986,...,|,11442,|,2574,|,2444,|,1389.67,|,1510.35
40,2003,Missouri .........................,|,10355,|,5396,|,11356,|,5833,...,|,15045,|,3281,|,3105,|,1940.45,|,2127.56
41,2003,Montana ...........................,|,9347,|,4155,|,9867,|,4511,...,|,12172,|,2688,|,3058,|,2569,|,2558.04
42,2003,Nebraska ..........................,|,9611,|,4238,|,10704,|,4679,...,|,14412,|,2778,|,2535,|,1672.48,|,1771.85
43,2003,Nevada .............................,|,10310,|,2720,|,10464,|,2477,...,|,11928,|,4977,|,3689,|,1509.25,|,1495.78
44,2003,New Hampshire .....................,|,13843,|,7615,|,14651,|,8086,...,|,21452,|,4796,|,3480,|,4821.27,|,5337.89
46,2003,New Jersey ........................,|,15088,|,7255,|,16349,|,7989,...,|,20910,|,4750,|,4092,|,2442.86,|,2568.9
47,2003,New Mexico ........................,|,8255,|,3164,|,8675,|,3395,...,|,13034,|,3161,|,3109,|,1001.96,|,1072.16
48,2003,New York ..........................,|,12004,|,4884,|,12441,|,4922,...,|,21632,|,5373,|,3902,|,2950.55,|,3073.5
49,2003,North Carolina ...................,|,8780,|,3239,|,9450,|,3563,...,|,18139,|,3248,|,3214,|,1165.64,|,1247.56
50,2003,North Dakota ......................,|,8035,|,3837,|,9011,|,4549,...,|,8571,|,1647,|,2306,|,2420.76,|,2850.06
52,2003,Ohio ..............................,|,13346,|,6589,|,15256,|,8041,...,|,18941,|,3368,|,3285,|,2822.66,|,2998.65
53,2003,Oklahoma ..........................,|,7907,|,3201,|,8451,|,3507,...,|,13446,|,2742,|,2980,|,1647.82,|,1718.63
54,2003,Oregon ............................,|,11632,|,4667,|,12177,|,5151,...,|,20593,|,3493,|,3407,|,2427.15,|,2558.16
55,2003,Pennsylvania .....................,|,13734,|,7615,|,14771,|,8347,...,|,22306,|,4418,|,3913,|,2512.12,|,2751.27
56,2003,Rhode Island .....................,|,12767,|,5391,|,13541,|,5866,...,|,22394,|,4663,|,3850,|,2120,|,2310
58,2003,South Carolina ....................,|,12668,|,7442,|,12165,|,6749,...,|,15426,|,2915,|,2896,|,2632.47,|,2815.54
59,2003,South Dakota .....................,|,8406,|,4453,|,8944,|,4720,...,|,13161,|,2344,|,2571,|,2797.61,|,2840.43
60,2003,Tennessee ........................,|,8934,|,4039,|,9445,|,4258,...,|,15873,|,3314,|,2848,|,2075.66,|,2209.15
61,2003,Texas ............................,|,9180,|,3559,|,10233,|,4423,...,|,15929,|,3308,|,2981,|,1165.97,|,1227.52
62,2003,Utah ..............................,|,7878,|,2896,|,8348,|,3177,...,|,4767,|,2864,|,2889,|,1953.67,|,2088.82
64,2003,Vermont ...........................,|,14769,|,8263,|,15658,|,8771,...,|,19838,|,3947,|,3476,|,3604,|,3796
65,2003,Virginia ..........................,|,10903,|,5068,|,11616,|,5556,...,|,17010,|,3165,|,3101,|,1802.37,|,1928.5
66,2003,Washington ........................,|,11335,|,4626,|,11902,|,4926,...,|,19031,|,3746,|,3245,|,2228.16,|,2390.16
67,2003,West Virginia .....................,|,8764,|,3170,|,9450,|,3572,...,|,13284,|,2823,|,2960,|,2919.9,|,3105.24
68,2003,Wisconsin .........................,|,9061,|,4676,|,9872,|,5290,...,|,18380,|,3148,|,3046,|,2589.41,|,2795.56
69,2003,Wyoming ...........................,|,8485,|,3090,|,8514,|,2721,...,|,†,|,†,|,†,|,1614.15,|,1680.09

In [202]:
#Drop Unneeded columns
df2 = df1.drop(['3','5','7','8','9','10','11','12','13','14','15','17','19','20','21','22','23','24','25','26','27','28','29','30'], axis = 1)
df2

,1,2,4,6,16,18
8,2003,United States ..................,10674,4587,25083,17777
10,2003,Alabama ...........................,8962,3970,16557,11056
11,2003,Alaska ............................,10132,3430,17958,11877
12,2003,Arizona ............................,10149,3587,19147,12466
13,2003,Arkansas ...........................,8337,4006,15956,11041
14,2003,California .........................,12288,3800,28337,19749
16,2003,Colorado ...........................,9763,3451,26030,17472
17,2003,Connecticut .........................,12790,5777,32326,23434
18,2003,Delaware ............................,12502,6183,16294,9680
19,2003,District of Columbia ................,†,2070,29236,20312
20,2003,Florida ............................,8956,2534,22800,15845
22,2003,Georgia .............................,9052,3192,23241,16090
23,2003,Hawaii ...............................,8747,3235,17922,9196
24,2003,Idaho ..............................,8082,3321,10905,5155
25,2003,Illinois ...........................,11795,5642,25543,18049
26,2003,Indiana .............................,11619,5370,25116,18871
28,2003,Iowa ...............................,10876,4991,21774,16394
29,2003,Kansas ..............................,8587,3674,18632,13438
30,2003,Kentucky ...........................,8515,3859,18197,12684
31,2003,Louisiana ..........................,7460,3185,25543,18262
32,2003,Maine ...............................,10994,5001,26813,19627
34,2003,Maryland ...........................,13407,6224,28784,21006
35,2003,Massachusetts ......................,12245,6069,33652,24524
36,2003,Michigan ..........................,12187,5994,18147,12434
37,2003,Minnesota ...........................,10826,5728,24498,18559
38,2003,Mississippi ........................,8535,3750,15811,10993
40,2003,Missouri .........................,10355,5396,20462,14322
41,2003,Montana ...........................,9347,4155,16740,11458
42,2003,Nebraska ..........................,9611,4238,19090,13750
43,2003,Nevada .............................,10310,2720,18840,11428
44,2003,New Hampshire .....................,13843,7615,28320,20499
46,2003,New Jersey ........................,15088,7255,28210,19710
47,2003,New Mexico ........................,8255,3164,18237,12138
48,2003,New York ..........................,12004,4884,29375,20522
49,2003,North Carolina ...................,8780,3239,23186,16982
50,2003,North Dakota ......................,8035,3837,13511,9501
52,2003,Ohio ..............................,13346,6589,24279,17901
53,2003,Oklahoma ..........................,7907,3201,17379,11848
54,2003,Oregon ............................,11632,4667,26059,19531
55,2003,Pennsylvania .....................,13734,7615,28930,21098
56,2003,Rhode Island .....................,12767,5391,29295,21110
58,2003,South Carolina ....................,12668,7442,20133,14569
59,2003,South Dakota .....................,8406,4453,17097,12440
60,2003,Tennessee ........................,8934,4039,21025,15074
61,2003,Texas ............................,9180,3559,20855,14798
62,2003,Utah ..............................,7878,2896,10069,4537
64,2003,Vermont ...........................,14769,8263,25517,18166
65,2003,Virginia ..........................,10903,5068,22248,16162
66,2003,Washington ........................,11335,4626,24671,17983
67,2003,West Virginia .....................,8764,3170,18373,12685
68,2003,Wisconsin .........................,9061,4676,23318,17386
69,2003,Wyoming ...........................,8485,3090,†,†

In [203]:
df2.columns

Index(['1', '2', '4', '6', '16', '18'], dtype='object')

In [204]:
df3 = df2.rename(columns = {'1': 'Year', '2': 'State', '4': 'Total Public Tuition', '6': 'Public In-State Tuition', '16': 'Total Private Tuition', '18': 'Private Tuition'})
df3

,Year,State,Total Public Tuition,Public In-State Tuition,Total Private Tuition,Private Tuition
8,2003,United States ..................,10674,4587,25083,17777
10,2003,Alabama ...........................,8962,3970,16557,11056
11,2003,Alaska ............................,10132,3430,17958,11877
12,2003,Arizona ............................,10149,3587,19147,12466
13,2003,Arkansas ...........................,8337,4006,15956,11041
14,2003,California .........................,12288,3800,28337,19749
16,2003,Colorado ...........................,9763,3451,26030,17472
17,2003,Connecticut .........................,12790,5777,32326,23434
18,2003,Delaware ............................,12502,6183,16294,9680
19,2003,District of Columbia ................,†,2070,29236,20312
20,2003,Florida ............................,8956,2534,22800,15845
22,2003,Georgia .............................,9052,3192,23241,16090
23,2003,Hawaii ...............................,8747,3235,17922,9196
24,2003,Idaho ..............................,8082,3321,10905,5155
25,2003,Illinois ...........................,11795,5642,25543,18049
26,2003,Indiana .............................,11619,5370,25116,18871
28,2003,Iowa ...............................,10876,4991,21774,16394
29,2003,Kansas ..............................,8587,3674,18632,13438
30,2003,Kentucky ...........................,8515,3859,18197,12684
31,2003,Louisiana ..........................,7460,3185,25543,18262
32,2003,Maine ...............................,10994,5001,26813,19627
34,2003,Maryland ...........................,13407,6224,28784,21006
35,2003,Massachusetts ......................,12245,6069,33652,24524
36,2003,Michigan ..........................,12187,5994,18147,12434
37,2003,Minnesota ...........................,10826,5728,24498,18559
38,2003,Mississippi ........................,8535,3750,15811,10993
40,2003,Missouri .........................,10355,5396,20462,14322
41,2003,Montana ...........................,9347,4155,16740,11458
42,2003,Nebraska ..........................,9611,4238,19090,13750
43,2003,Nevada .............................,10310,2720,18840,11428
44,2003,New Hampshire .....................,13843,7615,28320,20499
46,2003,New Jersey ........................,15088,7255,28210,19710
47,2003,New Mexico ........................,8255,3164,18237,12138
48,2003,New York ..........................,12004,4884,29375,20522
49,2003,North Carolina ...................,8780,3239,23186,16982
50,2003,North Dakota ......................,8035,3837,13511,9501
52,2003,Ohio ..............................,13346,6589,24279,17901
53,2003,Oklahoma ..........................,7907,3201,17379,11848
54,2003,Oregon ............................,11632,4667,26059,19531
55,2003,Pennsylvania .....................,13734,7615,28930,21098
56,2003,Rhode Island .....................,12767,5391,29295,21110
58,2003,South Carolina ....................,12668,7442,20133,14569
59,2003,South Dakota .....................,8406,4453,17097,12440
60,2003,Tennessee ........................,8934,4039,21025,15074
61,2003,Texas ............................,9180,3559,20855,14798
62,2003,Utah ..............................,7878,2896,10069,4537
64,2003,Vermont ...........................,14769,8263,25517,18166
65,2003,Virginia ..........................,10903,5068,22248,16162
66,2003,Washington ........................,11335,4626,24671,17983
67,2003,West Virginia .....................,8764,3170,18373,12685
68,2003,Wisconsin .........................,9061,4676,23318,17386
69,2003,Wyoming ...........................,8485,3090,†,†

In [205]:
df3.to_excel("2003.xlsx")